/*Navigation START*/
#navbar{
	width:150px;
	float:left;
}

#navbar a, #navbar a:visited{
	font-size:18px;
	text-decoration:none;
}

#navbar li{
	list-style: none;
}

#navbar li a{
	border:0;
	display:block;
	padding-left:15px;
	height:32px;
	line-height:32px;
	margin:3px 0px 3px 0px;
	border-radius:5px;
	-moz-border-radius:5px;
  -webkit-border-radius: 5px;
}

#navbar li a:hover{
	background-color:#FAFAFA;
}

#navbar li.selected a{
	background-color:#F0F0F0;
	font-weight:bold;
	color:#333;
}
/*Navigation END*/

/*ABOUT CONTENT*/

#about-container{
  margin:25px 0px 0px 190px;
  width:600px;
}

#about-header{
  margin-bottom:20px;
}

.about-item{
  margin-bottom:20px;
}

.about-item-header{
  color:#3a1551;
  border-top:1px dotted #CACACA;
  border-bottom:1px dotted #CACACA;
  padding:8px 0px;
  font-size:18px;
  margin-bottom:5px;
}

.about-item-content{
  width:425px;
  float:left;
  margin-right:20px;
}

.about-signup-button-container{
  margin-bottom:20px;
}

.about-item-img-container{
  float:left;
}

/*ABOUT CONTENT END*/