html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    color: black;
}
a {
  text-decoration: none;
}
ol, ul {
    list-style:none;
    -webkit-padding-start: 0px;
}

input, textarea {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  	transition: border linear .2s, box-shadow linear .2s;
  	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
  	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}
input:focus, textarea:focus {
    outline: none;
    border-color:rgba(82,168,236,.75)!important;
    box-shadow: 0 0 8px rgba(82,168,236,.5);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.5);
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.5);
}
input[type="submit"] {
  cursor:pointer;
}



/* create-trip-button
------------------------------------ */
#create-trip-button {
  color:white;
  display:block;
  height:41px;
  width: 154px;
  line-height:41px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#F90), to(#FF6200));
  background:-moz-linear-gradient(top, #F90, #FF6200);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F90', endColorstr='#FF6200');
  border: 1px solid #E55800;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  left: 300px;
}
#create-trip-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#create-trip-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}