html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  -webkit-text-size-adjust: none;
  min-width: 960px;
  font-size:14px;
	line-height:20px;
  color:#333;
  height:100%;
}

#sticky-footer-wrapper{
  min-height:100%;
}

.header{
	/*background-color: #1D2D6E;
	border-bottom:2px solid #BABABA;*/
  display: block;
  height: 40px;
  padding-top:5px;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25398C', endColorstr='#1D2D6E');
	background: -webkit-gradient(linear, left top, left bottom, from(#25398C), to(#1D2D6E));
	background: -moz-linear-gradient(top,  #25398C,  #1D2D6E);*/ 
}

/*1B2A66 10193D*/

.header .nav a {
  padding: 10px 0;
  line-height: 15px;
  margin-left:21px;
  float:left;
  font-size:14px;
}

.content {
  padding: 12px 0 80px;
  overflow:auto;
}

.footer {
  position:relative;
  font-size: 14px;
  height:40px;
  border-top:1px solid #777;
  line-height:40px;
  clear:both;
  background-color:#FAFAFA;
  margin-top:-41px;
}

.footer a.marg-right {
  margin-right: 20px;
}

.footer .wrapper{

}

.footer .copy {
  float: right;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
}

.item-header{
	padding:10px 10px 0px 10px;
	width:200px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}

h1{
  color:#404040;
  font-size: 30px;
  line-height: 38px;
}

h2{
	font-size:16px;
	line-height:22px;
	color:#333;
}

h3{
	font-size:14px;
	line-height:22px;
	color:#333;
}

h4{
	font-size:50px;
	font-weight:bold;
}

.subtext{
  color:#888;
  font-size:12px;
}

a, a:visited{
	text-decoration:none;
	color: #36C;
}

a:hover{
  color: blue;
  text-decoration:underline;
  cursor:pointer;
}

ol, ul {
  list-style:none;
  -webkit-padding-start: 0px;
}

input[type="text"], input[type="password"], textarea {
  margin: 0;
  font-size: 14px;
  line-height:20px;
  color:#333;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none;
  border-color:blue!important;
}
input[type="submit"] {
  cursor: pointer;
}

#signup-form input[type=text], #signup-form input[type=password],
#login-form input[type=text], #login-form input[type=password] {
	width: 380px;
}

fieldset {
  border-width: 0;
  border-color: transparent;
}

.error {
  color: red;
  font-size: 14px;
}


/* buttons
------------------------------------ */
#create-trip-button {
  color:white;
  display:block;
  height:30px;
  width: 115px;
  line-height:30px;
  text-align:center;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#create-trip-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#create-trip-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

/*Postitems*/

.postitem{
  padding:10px 0px;
}

/* Layout */

#left-content-container{
  padding:10px 0px 5px 0px;
}

#col-left{
  width:600px;
  float:left;
}

#col-right{
  width:340px;
  float:right;
}

/* Tabs */

.tab-container{
 padding:10px 20px 20px 20px;
 border-left:1px solid #CACACA;
 border-bottom:1px solid #CACACA;
 border-right:1px solid #CACACA;
 min-height:600px; 
 clear:both;
}

#main-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #CACACA;
	width: 600px;
}

#main-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	width:119px;
	text-align:center;
}

#main-tabs li a{
  text-decoration: none;
	display: block;
	/*border: 1px solid white;*/
	outline: none;
}

#main-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

#main-tabs li a:hover {
	background: #FAFAFA;
}

#main-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #CACACA;
	border-right:1px solid #CACACA;
	border-top:1px solid #CACACA;
	width:122px;
}

#main-tabs li.active a{
  color:#333;
}

#main-tabs li.active a:hover  {
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}


/*map*/

#map-shell{
  margin-top:46px;
  width:330px;
  padding:5px;
  border:1px solid #CACACA;
}

#map-canvas{
  height:330px;
}

.map-fixed{
  position:fixed;
  top:-46px;
}