html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  -webkit-text-size-adjust: none;
  min-width: 960px;
  font-size:14px;
	line-height:20px;
  color:#333;
  height:100%;
}

#sticky-footer-wrapper{
  min-height:100%;
}

.header{
	background-color: #10193D;
  border-bottom:1px solid #333;
  display: block;
  height: 30px;
  line-height:30px;
  padding-top:3px;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25398C', endColorstr='#1D2D6E');
	background: -webkit-gradient(linear, left top, left bottom, from(#25398C), to(#1D2D6E));
	background: -moz-linear-gradient(top,  #25398C,  #1D2D6E);*/ 
}

/*1B2A66 10193D*/

.header .nav a, .header .nav a:visited {
  color:white;
  margin-left:21px;
  float:left;
  font-size:12px;
}

.header .nav a:hover, .footer a:hover {
  color:fuchsia;
}

.content {
  padding: 26px 0 60px;
  overflow:auto;
}

.footer {
  color:white;
  position:relative;
  font-size: 12px;
  height:25px;
  border-top:1px solid #333;
  line-height:25px;
  clear:both;
  background-color:#10193D;
  margin-top:-26px;
}

.footer a, .footer a:visited{
  color:white;
}

.footer a.marg-right {
  margin-right: 20px;
}

.footer .wrapper{

}

.footer .copy {
  float: right;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
}

#top-bar{
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
}

.top-bar-header{
  font-size:28px;
  font-weight:600;
  line-height:36px;
}

h1{
  color:#404040;
  font-size: 30px;
  line-height: 38px;
}

h2{
	font-size:16px;
	line-height:22px;
	color:#333;
}

h3{
	font-size:14px;
	line-height:22px;
	color:#333;
}

h4{
	font-size:50px;
	font-weight:bold;
}

.subtext{
  color:#888;
  font-size:12px;
}

.img-container{
  padding:2px;
  border:1px solid #BABABA;
  background-color:#FAFAFA;
}

a, a:visited{
	text-decoration:none;
	color: #36C;
}

a:hover{
  color: blue;
  cursor:pointer;
}

ol, ul {
  list-style:none;
  -webkit-padding-start: 0px;
}

input[type="text"], input[type="password"], textarea {
  margin: 0;
  font-size: 14px;
  line-height:19px;
  color:#333;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none;
  border-color:blue!important;
}
input[type="submit"] {
  cursor: pointer;
}

#signup-form input[type=text], #signup-form input[type=password],
#login-form input[type=text], #login-form input[type=password] {
	width: 380px;
}

fieldset {
  border-width: 0;
  border-color: transparent;
}

.error {
  color: red;
  font-size: 12px;
  line-height:14px;
}

.bullet{
  color:#BABABA;
  font-size:9px;
  margin-right:3px;
}

/*POSTITEMS*/ 

.postitem, .followitem, .tripitem, .placeitem{
  border-top:1px solid #FAFAFA;
  border-bottom:1px solid #FAFAFA;
  padding:10px 40px 10px 20px;
}

.postitem:hover, .tripitem:hover, .placeitem:hover{
  background-color:#FAFAFA;
  border-top:1px solid blue;
  border-bottom:1px solid blue;
  cursor:pointer;
}

.first-item, .first-item:hover{
  border-top:none;
}

.postitem-content-container{
  margin-left:60px;
}

.followitem-content-container{
  margin-left:60px;
}

.postitem-avatar-container, .followitem-avatar-container{
  padding-top:2px;
  float:left;
}

.postitem-author-name, .followitem-title, .trip-listing-name, .placeitem-name{
  line-height:18px;
  height:18px;
}

.postitem-author-name a, .postitem-author-name a:visited, .comment-author-name a, .comment-author-name a:visited, .trip-listing-name a, .trip-listing-name a:visited, .followitem-title a, .followitem-title a:visited, .placeitem-name, .placeitem-name a, .placeitem-name a:visited{
  color:#333;
  font-weight:bold;
}

.postitem-author-name a:hover, .postitem-reposter-name a:hover, .comment-author-name a:hover, .trip-listing-name a:hover, .followitem-title a:hover, .placeitem-name a:hover{
  color: blue;
  cursor:pointer;
}

.postitem-reposter-name a, .postitem-reposter-name a:visited, .followitem-bio, .placeitem-bio{
  color:#666;
  font-size:13px;
}

.actionbar, .goersbar{
  margin-top:3px;
}

.followitem-bio{
  line-height:18px;
}

.actionbar-item{
  margin-right:3px;
  display:inline;
  font-size:13px;
}

.destinationbar-item{
  margin-right:3px;
  display:inline;
}

.tripitem-avatar-container{
  margin-right:2px;
  display:inline;
}

/*COMMENTS AND TRIP LISTING*/

.comments-container, .trip-listing-container{
  margin-top:8px;
}

.comment, .trip-listing{
 margin-top:8px;
 margin-bottom:10px; 
}

.comment-content-container{
  margin-left:40px;
}

.comment-author-name{
  line-height:15px;
  height:15px;
}

.comment-timestamp{
  margin-top:-3px;
}

.comment-input-container{
  margin-left:40px;
}

.comment-input-area{
  height:50px;
  width:460px;
}

.comment-input-container{
  padding-bottom:5px;
}

.RSVP-required{
  color:red;
}

/*FOLLOWING AND FOLLOWERS*/



/* Layout */

#left-content-container{
  padding:10px 0px 5px 0px;
}

#col-left{
  width:600px;
  float:left;
}

#col-right{
  width:340px;
  float:right;
}

/* Tabs */

.tab-container{
 border-left:1px solid #BABABA;
 border-bottom:1px solid #BABABA;
 border-right:1px solid #BABABA;
 min-height:600px; 
 clear:both;
}

#main-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #BABABA;
	width: 600px;
}

#main-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	width:119px;
	text-align:center;
}

#main-tabs li a{
  text-decoration: none;
	display: block;
	/*border: 1px solid white;*/
	outline: none;
}

#main-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

#main-tabs li a:hover {
	background: #FAFAFA;
}

#main-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #BABABA;
	border-right:1px solid #BABABA;
	border-top:1px solid #BABABA;
	width:117px;
}

#main-tabs li.last{
  width:122px;
}

#main-tabs li.active a{
  color:#333;
}

#main-tabs li.active a:hover  {
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}


/*map*/

#map-shell{
  margin-top:46px;
  width:330px;
  padding:5px;
  border:1px solid #BABABA;
}

#map-canvas{
  height:330px;
}

.map-fixed{
  position:fixed;
  top:-46px;
}

/*Follow and Stats*/
#follow-and-stats-container{
  width:340px;
  float:right;
}

#stats-container{
  margin-bottom:20px;
  height:40px;
}

ul.stats-list{
	list-style: none;
	height: 60px;
	width: 320px;
}

ul.stats-list li{
  float: left;
  padding:2px 10px;
}

li.border-left{
  border-left:1px solid #BABABA;
}

ul.stats-list li a{
  color:#6C2B9C;
  font-size:20px;
  font-weight:bold;
}

.stat-label{
  color:#505050;
  font-size:12px;
  display:block;
  font-weight:normal;
}

/*tooltip*/

.tooltip_container{
  position:absolute;
  background:url(/david/images/dark_arrow.png) 50% 0 no-repeat;
  padding:7px 0 0 0;
  z-index:500;
}

.tooltip_interior{
  font-size:12px;
  background:url(/david/images/tooltip.png);
  color:white;
  padding:3px 6px;
}

.tooltip_interior div{
  margin-top:2px;
  font-size:.97em;
}

/* buttons
------------------------------------ */
#create-trip-button {
  color:white;
  display:block;
  height:30px;
  width: 115px;
  line-height:30px;
  text-align:center;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#create-trip-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#create-trip-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

.follow{
  color:#333;
  display:block;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
  background-color:#FAFAFA;
  /*background:-webkit-gradient(linear, left top, left bottom, from(#32D02F), to(#239121));
  background:-moz-linear-gradient(top, #32D02F, #239121);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32D02F', endColorstr='#239121');*/
  border: 1px solid #555;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:160px;
}

.add-comment-button{
  color:white;
  display:block;
  height:24px;
  line-height:24px;
  text-align:center;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#32D02F), to(#239121));
  background:-moz-linear-gradient(top, #32D02F, #239121);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32D02F', endColorstr='#239121');
  border: 1px solid #555;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width:110px;  
}

.add-comment-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}

.add-comment-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}


#follow:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}

#follow:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#new-postitem-button{
  color:white;
  width:150px;
  cursor: pointer;
  text-align:center;
  text-decoration:none;
	border: solid 1px #333;
	padding:7px 0px;
	background: #0030C2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0030C2), to(#00248F));
	background: -moz-linear-gradient(top,  #0030C2,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0030C2', endColorstr='#00248F');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#new-postitem-button:hover {
	background: #00248F;
	background: -webkit-gradient(linear, left top, left bottom, from(#002AA8), to(#00248F));
	background: -moz-linear-gradient(top,  #002AA8,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#002AA8', endColorstr='#00248F');
}

#new-postitem-button:active {
	padding:8px 0px 6px;
	background-color:#001D75;
}

#new-postitem-button a{
  color:white;
  font-size:13px;
  font-weight:bold;
}