html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  -webkit-text-size-adjust: none;
  min-width: 960px;
  font-size:13px;
	line-height:19px;
  color:#333;
  height:100%;
}

.header{
  display: block;
  height: 40px;
  line-height:40px;
}

.nav {
  position:absolute;
  right:0;
  top:0;
}

.header .nav a, .header .nav a:visited {
  margin-left:21px;
  float:left;
  font-size:12px;
}

.content {
  padding: 15px 0 60px;
  overflow:hidden;
}

.footer {
  position:relative;
  font-size: 11px;
  height:25px;
  border-top:1px solid #333;
  line-height:25px;
  clear:both;
  margin-top:-26px;
}

.footer a.marg-right {
  margin-right: 20px;
}

.footer .wrapper{

}

.footer .copy {
  float: right;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
}