html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  -webkit-text-size-adjust: none;
  min-width: 960px;
  font-size:13px;
	line-height:19px;
  color:#333;
  height:100%;
}

#sticky-footer-wrapper{
  min-height:100%;
}

.header{
	background-color: #10193D;
  border-bottom:1px solid #333;
  display: block;
  height: 30px;
  line-height:30px;
  padding-top:3px;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25398C', endColorstr='#1D2D6E');
	background: -webkit-gradient(linear, left top, left bottom, from(#25398C), to(#1D2D6E));
	background: -moz-linear-gradient(top,  #25398C,  #1D2D6E);*/ 
}

/*1B2A66 10193D*/

.header .nav a, .header .nav a:visited {
  color:white;
  margin-left:21px;
  float:left;
  font-size:13px;
}

.header .nav a:hover, .footer a:hover {
  color:fuchsia;
}

.content {
  padding: 20px 0 60px;
  overflow:auto;
}

.footer {
  color:white;
  position:relative;
  font-size: 11px;
  height:25px;
  border-top:1px solid #333;
  line-height:25px;
  clear:both;
  background-color:#10193D;
  margin-top:-26px;
}

.footer a, .footer a:visited{
  color:white;
}

.footer a.marg-right {
  margin-right: 20px;
}

.footer .wrapper{

}

.footer .copy {
  float: right;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
}

#top-section, #col-left{
  margin-left:5px;
}

#top-bar{
  width:560px;
/*   border-bottom:2px solid #777; */
  float:left;
/*   background-color:#FAFAFA; */
  padding-bottom:15px;
/*
  border-left:1px solid #BABABA;
  border-right:1px solid #BABABA;
  border-top:1px solid #BABABA;
  border-bottom:1px solid #BABABA;
*/ 
}

#right-widgets{
  float:right;
  margin-right:30px;
}

.top-bar-header{
  font-size:26px;
  font-weight:600;
  line-height:36px;
}

h1{
  color:#404040;
  font-size: 30px;
  line-height: 38px;
}

h2{
	font-size:16px;
	line-height:22px;
	color:#333;
}

h3{
	font-size:14px;
	line-height:22px;
	color:#333;
}

h4{
	font-size:50px;
	font-weight:bold;
}

.subtext{
  color:#888;
  font-size:11px;
}

.response{
  font-weight:bold;
}

#profile-pic-container{
  padding:3px;
  border:1px solid #BABABA;
  width:125px;
  height:125px;
}

a, a:visited{
	text-decoration:none;
	color: #36C;
}

a:hover{
  color: blue;
  cursor:pointer;
}

ol, ul {
  list-style:none;
  -webkit-padding-start: 0px;
}

input, textarea{
  border:1px solid #BABABA;
}

input[type="text"], input[type="password"], textarea {
  margin: 0;
  font-size: 13px;
  line-height:19px;
  color:#333;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none;
  border-color:blue!important;
}
input[type="submit"] {
  cursor: pointer;
}

#signup-form input[type=text], #signup-form input[type=password],
#login-form input[type=text], #login-form input[type=password] {
	width: 380px;
}

fieldset {
  border-width: 0;
  border-color: transparent;
}

.error {
  color: red;
  font-size: 11px;
  line-height:14px;
}

.bullet{
  color:#BABABA;
  font-size:9px;
  margin-right:3px;
}

/*STREAMITEMS, COMMENTS, TRIP LISTINGS*/ 

#add-to-trip-main, #save-post-button{
  display:none;
}

.streamitem{
  border-top:1px solid #FAFAFA;
  border-bottom:1px solid #FAFAFA;
  padding:10px 10px 10px 0px;
}

.hoverable-item:hover{
  background-color:#FAFAFA;
  border-top:1px solid blue;
  border-bottom:1px solid blue;
  cursor:pointer;
}

.first-item, .first-item:hover{
  border-top:none;
  padding-top:0px;
}

.streamitem-content-container, .comment-input-container{
  margin-left:33px;
  padding-right:10px;
}

.streamitem-avatar-container{
  margin-top:4px;
  float:left;
}

.streamitem-name a, .streamitem-name a:visited{
  font-weight:600;
}

.streamitem-name a:hover, .post-reposter-name a:hover, .comment-author-name a:hover, .trip-listing-name a:hover, .followitem-title a:hover, .placeitem-name a:hover{
  color: blue;
  cursor:pointer;
}

.streamitem-bio{
  color:#666;
}

.streamitem-content{
  margin:0px 0px 2px 0px;
}

.actionbar, .goersbar{
  
}

.tagbar{
  margin:2px 0px;
}

.tag{
  padding:3px 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom:3px;
}

.destination.tag{
  background:#DFEAF4;
}

.destination.tag:hover{
  background:#BBD1E7;
}

.activity.tag{
  background:#EAEAEA;
}

.activity.tag:hover{
  background:#555;
}

.bar-item{
  margin-right:3px;
  display:inline;
}

.comments-container{
  margin-top:10px 0px 0px 20px;
}

.comment, .trip-listing{
 margin-top:5px; 
}

.comment-content-container{
  margin-left:40px;
}

.comment-timestamp{
  margin-top:-3px;
}

.comment-input-area{
  height:50px;
  width:416px;
}

.comment-input-container{
  margin-top:8px;
  margin-bottom:3px;
}

.RSVP-required{
  color:red;
}

.narrow{
  padding-right:125px;
}

.left-indent{
  padding-left:31px;
}

/* LAYOUT */

#left-content-container{
  padding:15px 0px 5px 0px;
}

#right-content-container{
  padding:17px 0px 5px 0px; /* Padding-top needs to be X pixels more than padding-top of left-content-container, where X=pixel width of left-content-container border */
}

#col-left{
  width:560px;
  float:left;
  border-top:2px solid #777;
}

#col-right{
  width:375px;
  float:right;
}

.right-widget-container{
  width:330px;
  padding:5px;
  background: #FCFCFC;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom:12px;
}

.right-widget-interior{
/*
  width:330px;
  padding: 2px 5px;
*/
}


#actions-container{
  height:30px;
}

/* Tabs */

.tab-container{
 border-left:1px solid #BABABA;
 border-bottom:1px solid #BABABA;
 border-right:1px solid #BABABA;
 min-height:500px; 
 padding:10px;
 clear:both;
}

#main-tabs, #right-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #BABABA;
}

#main-tabs li, #right-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	width:111px;
	text-align:center;
}

#main-tabs li a, #right-tabs li a{
  text-decoration: none;
	display: block;
	/*border: 1px solid white;*/
	outline: none;
}

#main-tabs li:hover, #right-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

#main-tabs li a:hover, #right-tabs li a:hover{
	background: #FAFAFA;
}

#main-tabs li.active, #right-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #BABABA;
	border-right:1px solid #BABABA;
	border-top:1px solid #BABABA;
	width:111px;
}

#main-tabs li.last{
  width:114px;
}

#main-tabs li.active a, #right-tabs li.active a{
  color:#333;
}

#main-tabs li.active a:hover, #right-tabs li.active a:hover{
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}

/* RIGHT TABS */

.right-tab-container{
 border-left:1px solid #BABABA;
 border-bottom:1px solid #BABABA;
 border-right:1px solid #BABABA;
 padding:3px;
}

/*map*/

#map-canvas{
  height:367px;/*subtract padding and border of container from col-right width*/
}

.map-fixed{
  position:fixed;
  top:0px;
  width:375px;
}

#map-shell{
  margin-top:35px;
  padding:3px;
  border:1px solid #BABABA;
}

#stats-container{
}

ul.stats-list{
	list-style: none;
}

ul.stats-list li{
  float: left;
  padding:0px 8px;
  margin-right:8px;
}

li.border-left{
  border-left:1px solid #BABABA;
}

ul.stats-list li a{
  color:#6C2B9C;
  font-size:18px;
  font-weight:bold;
}

.stat-label{
  color:#333;
  font-size:13px;
  display:block;
  font-weight:normal;
}

/*tooltip*/

.tooltip_container{
  position:absolute;
  background:url(/david/static/images/dark_arrow.png) 50% 0 no-repeat;
  padding:7px 0 0 0;
  z-index:500;
}

.tooltip_interior{
  font-size:12px;
  background:url(/david/static/images/tooltip.png);
  color:white;
  padding:3px 6px;
}

.tooltip_interior div{
  margin-top:2px;
  font-size:.97em;
}

/*MULTISELECT*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/* buttons
------------------------------------ */
#create-trip-button {
  color:white;
  display:inline-block;
  height:25px;
  width: 75px;
  line-height:25px;
  text-align:center;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#create-trip-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#create-trip-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

.follow, .unfollow{
  float:right;
}

.left{
  float:left;
  margin-left:0px;
}

.middle{
  margin-left:3px !important;
  float:none !important;
  display:inline-block !important;
}

.right{
  float:right;
}

.follow, .edit-profile, .submit{
  display:block;
}

.follow, #save-post-button, .edit-profile, .submit{
  height:28px;
  line-height:28px;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  background:#FAFAFA;
  background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');
  border: 1px solid #CACACA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}

a.follow, a.edit-profile, a.submit{
  color:#333;
}

.follow:hover, .edit-profile:hover, .submit:hover{
  background: #DADADA;
  border: 1px solid #888;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');*/
}

.follow:active, .edit-profile:active, .submit:active{
  background: #BABABA;
  border: 1px solid #888;
  background: -webkit-gradient(linear, left top, left bottom, from(#BABABA), to(#DADADA));
  background: -moz-linear-gradient(top,  #BABABA,  #DADADA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BABABA', endColorstr='#DADADA');
}

.unfollow{
  display:block;
  height:28px;
  line-height:28px;
  text-align:center;
  font-size:13px;
  text-decoration:none;
  background:#FDFDFD;
  /*background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');*/
  border: 1px solid #EAEAEA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}

a.unfollow{
  color:#999;
}

.unfollow:hover {
  background: #FAFAFA;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');*/
}

a.unfollow:active{
  color:red;
}

.unfollow:active {
  background: #BABABA;
  border: 1px solid #888;
  background: -webkit-gradient(linear, left top, left bottom, from(#CACACA), to(#DADADA));
  background: -moz-linear-gradient(top,  #CACACA,  #DADADA);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA', endColorstr='#DADADA');
}

.add-comment-button{
  color:white;
  display:block;
  height:24px;
  line-height:24px;
  text-align:center;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#32D02F), to(#239121));
  background:-moz-linear-gradient(top, #32D02F, #239121);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32D02F', endColorstr='#239121');
  border: 1px solid #555;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width:110px;  
}

.add-comment-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}

.add-comment-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

.deleteable{
  position:relative;
}
.delete{
  background-image: url(/david/static/images/delete_button.png);
  height: 15px;
  width: 15px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.save-settings-button{
  border:solid 1px #999;
  margin-right:20px;
  color:white;
  width:140px;
  height:35px;
  text-align:center;
  line-height:35px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding:0px;
}

.save-settings-button:hover{
  border: solid 1px #555;
  background: #0078a5;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
*/
}

.save-settings-button:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#005270), to(#0078a5));
  background: -moz-linear-gradient(top,  #005270,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#005270', endColorstr='#0078a5');
}


/* polymaps */
.compass .back{
  fill: #eee;
  fill-opacity: .8;
}
.compass .fore{
  stroke: #999;
  stroke-width: 1.5px;
}
.compass rect.back.fore{
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.compass .direction{
  fill: none;
}
.compass .chevron{
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}
.compass .zoom .chevron{
  stroke-width: 4px;
}
.compass .active .chevron, .compass .chevron.active{
  stroke: #fff;
}
.compass.active .active .direction{
  fill: #999;
}