html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html, body {
  -webkit-text-size-adjust: none;
  min-width: 960px;
  overflow-x:hidden;
}

.header{
	background-color: #0E1325; 
	border-bottom:1px solid black;
  display: block;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#0E1325');
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#0E1325));
	background: -moz-linear-gradient(top,  #333,  #0E1325); 
}

.header .nav a {
  color: white;
  padding: 10px 0;
  line-height: 15px;
  margin-left:21px;
  float:left;
  font-size:13px;
}
.header .nav a:hover {
  color: #0095CD;
}

.content {
  padding: 30px 0 50px;
}

.footer {
  clear: both;
  z-index: 10;
  font-size: 13px;
  padding: 25px 0 20px;
  border-top:1px solid #FAFAFA;
}

.footer a.marg-right {
  margin-right: 20px;
}

.footer .copy {
  float: right;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
}

.item-header{
	padding:10px 10px 0px 10px;
	width:200px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}

h1{
	font-size:34px;
	font-weight:bold;
	color:black;
}

h2{
	font-size:16px;
	line-height:22px;
	color:#333;
}

h3{
	font-size:14px;
	line-height:22px;
	color:#333;
}

h4{
	font-size:50px;
	font-weight:bold;
}

a, a:visited{
	text-decoration:none;
	color: #003DF5;
}

a:hover{
  color: #0030C2;
}

ol, ul {
  list-style:none;
  -webkit-padding-start: 0px;
}

input[type="text"], input[type="password"], textarea {
  margin: 0;
  padding: 5px;
  font-size: 13px;
  line-height:19px;
  color:#333;
  border: 1px solid #333;
}

input[type="text"], input[type="password"] {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  outline: none;
  border-color:blue!important;
}
input[type="submit"] {
  cursor: pointer;
}

#signup-form input[type=text], #signup-form input[type=password],
#login-form input[type=text], #login-form input[type=password] {
	width: 380px;
	padding: 9px;
}

fieldset {
  border-width: 0;
  border-color: transparent;
}

label.error {
  color: red;
  font-size: 13px;
}

/* buttons
------------------------------------ */
#create-trip-button {
  color:white;
  display:block;
  height:30px;
  width: 115px;
  line-height:30px;
  text-align:center;
  font-size:13px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#create-trip-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#create-trip-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
.blue-button {
  color:white;
  text-align:center;
  font-size:14px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  border: solid 1px #0076a3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 0;
}
.blue-button:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue-button:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
