html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    color: black;
}
ol, ul {
    list-style:none;
    -webkit-padding-start: 0px;
}

input, textarea {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  	transition: border linear .2s, box-shadow linear .2s;
  	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
  	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}
input:focus, textarea:focus {
    outline: none;
    border-color:rgba(82,168,236,.75)!important;
    box-shadow: 0 0 8px rgba(82,168,236,.5);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.5);
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.5);
}


/* Specific to trip page
----------------------------------------------------------------------------------------------------*/

/*


.wall_comment_author {
    font-weight: bold;
    
    margin-right: 5px;
}


.wall-reply {
    margin-left:30px;
}

.wall-timestamp {

}

.show_reply_button {
    font: 10px verdana;
}


#trip-share-popup, #trip-invite-popup {
    height: auto;
	width: 428px;
    border: 10px solid #ccc;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#trip-share-header, #trip-invite-header {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

#trip-share-friend-panel, #trip-invite-friend-panel {
    height: 265px;
    overflow-x: hidden;
}

#trip-invited-friends-header {
	font-size: 1.5em;
}

#trip-share-toolbar, #trip-invite-toolbar {
    text-align: right;
	margin: 15px 0px 0px 0px;
}

#trip-share-confirm,
#trip-share-cancel,
#trip-invite-confirm,
#trip-invite-cancel {
    margin: 0px 5px 0px 5px;
}

#trip-share-confirm:hover,
#trip-share-cancel:hover,
#trip-invite-confirm:hover,
#trip-invite-cancel:hover {
    text-decoration: underline;
    cursor: pointer;
}


#trip-share-textarea, #trip-invite-textarea {
    font-size: 1em;
    padding: 3px;
    width: 95%;
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


*/

/*
///////////////////////////////////////////////////////////////////////////////
// YELP
*/

/*
#spinner { visibility: hidden; margin-left:3px;}

.marker {font-size: 11px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
.marker {
    font: 10px verdana;
}
*/

/*
///////////////////////////////////////////////////////////////////////////////
// SEARCH LIST
*/


/*
#trip-wall-suggest-list {

}

.search-result-li{
    font: 10px verdana;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    margin-left: 25px;
}

.search-result-li:hover{
    background-color: #eee;
    color: black;
}



#trip-suggestion-comment-content{
    border:10px solid #CCCCCC;
    cursor:pointer;
    padding:10px;
    
    width: 300px;
    text-align: left;
}

#trip-suggestion-textarea {
    width: 295px;
}
#footer{
    float: left;
    width: 100%;
    height: 80px;
    
}
*/