html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  font-family: georgia, serif;
  text-decoration: none;
}

html, body {
  min-width: 960px;
  font-size:13px;
	line-height:19px;
  color:#333;
  height:100%;
}

body.landing {
  background-color: #F7F8ED;
}

ol,ul {
  list-style-type: none;
}

.header{
  background-color: #3BA;
  -webkit-box-shadow:0 5px 5px -4px black;
  -moz-box-shadow:0 5px 5px -4px black;
  box-shadow:0 5px 5px -4px black;
}

.nav {
  position:absolute;
  right:0;
  top:26px;
}
.nav li {
  display:inline-block; border-right:1px solid #fff; padding:0 20px;
}

.header .nav a, .header .nav a:visited {
  float:left;
  color: white;
}

.content {
  padding: 30px 0 60px;
  overflow:hidden;
}

.footer {
  background-color: #333;
  position:relative;
  font-size: 11px;
  height:215px;
  border-top:1px solid #CCC;
  line-height:25px;
  clear:both;
  margin-top:-26px;
}

.footer a {
  color:#fff;
}
.footer h4{
  margin-bottom: 15px;
}
.footer .wrapper{
  padding-top:38px;
}
.footer .logo{
  float:left;
}
.footer .block{
  float:left;color:#fff;margin-left:44px;
}
.footer .logo a{
  background:#3BA url(http://static.shoutbound.com/images/footer-logo.png) no-repeat 12px 9px; display:block; text-indent:-9999px; width:161px;height:36px; border-bottom: 1px solid #366; border-right: 1px solid #366; border-left: 1px solid #366;
}
.footer .copy {
  color: #fff;
  position: absolute;
  font-size:12px;
  bottom:0;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.header .wrapper {
  position: relative;
  height: 50px;
  padding-top: 20px;
}
.header h1 {
  display:inline-block
}
.header h1 a {
  display:block; background:url(http://static.shoutbound.com/images/header-logo.png) no-repeat; width:258px; height:30px; text-indent:-9999px;
}

.landing .content .wrapper {
  border: 1px solid #d2d3cb;
  background-color: white;
}

/* landing */
/* ///////////////////// */
body.landing {
  padding:50px 0;
}
.landing .wrapper {
  width:900px;
}
.landing .photospread {
  background: #ffffff url(http://static.shoutbound.com/images/landing_bg.jpg) no-repeat;
  height:557px;
}
.landing .greetingcard {
  background-color:#3ba; 
  width:469px; height:340px; 
  margin:121px 0 0 322px;
  border: 1px solid #A0D1C9
}
.landing .logo {
  margin:0 auto; width:420px; padding:42px 0 33px;
}
.landing h1 {
  background:url(http://static.shoutbound.com/images/landing-text.png) no-repeat; width:420px; height:50px; text-indent:-9999px;
}
.landing h2 {
  background:url(http://static.shoutbound.com/images/landing-text.png) no-repeat 0 -55px; width:420px; height:30px; text-indent:-9999px;
}
.landing .greeting-content{
  width:373px; height:100px; background:#F7F8ED url(http://static.shoutbound.com/images/landing-ornament.png) no-repeat 10px 10px; margin:0 auto; padding:35px; position:relative; box-shadow:1px 1px 1px 1px #3C877B; -webkit-box-shadow:1px 1px 1px 1px #3C877B; -moz-box-shadow:1px 1px 1px 1px #3C877B;
}
.greetingcard span {
  color:#188991; font-size:16px;
}
.greetingcard .buttons {
  width:350px; margin:15px auto;
}
.greetingcard .button {
  display:inline-block; vertical-align:middle; border:1px solid #f9a72a; background:#ffd038; color:#333; line-height:40px; text-align:center; cursor:pointer; font-size:16px; font-weight:bold; font-family:georgia, serif; padding:0; border-radius:5px; -webkit-border-radius:5px; text-decoration:none; box-shadow: 1px 1px #6C8481; -webkit-box-shadow: 1px 1px #6C8481; -moz-box-shadow: 1px 1px #6C8481;
}
.greetingcard .signup {
  width:200px; height:40px;
}
.greetingcard .login {
  width:100px; height:40px;
}

.button {
  display:inline-block; vertical-align:middle; border:1px solid #f9a72a; background:#ffd038; color:#333; line-height:40px; text-align:center; cursor:pointer; font-size:16px; font-weight:bold; font-family:georgia, serif; padding:0; border-radius:5px; -webkit-border-radius:5px; text-decoration:none; box-shadow: 1px 1px #6C8481; -webkit-box-shadow: 1px 1px #6C8481; -moz-box-shadow: 1px 1px #6C8481; padding: 0 10px;
}

/* signup page */
/* ///////////// */
#signup-form input[type="text"], #signup-form input[type="password"] {
  font-size: 16px;
  padding: 10px 5px;
  vertical-align: middle;
}

/* feature page */
/* ///////////// */
.article h1{
  font-size:28px;
  line-height:38px;
  font-weight: bold;
}
.article h2{
  font-size:19px;
  font-weight: normal;
}
.article h3{
  font-size:16px;
  font-weight: bold;
}
.article .content {
  padding:0;
  margin-top:30px;
}
.article .venue {
  padding:25px 20px;
  margin-bottom:30px;
}
.venue ul{
  list-style-type: disc;
  margin:15px 0 0 17px;
}
.article p {
  margin:15px 0;
}