#discover-headline{
  height:25px;
/*   border-bottom:2px solid #888; */
  padding-bottom:15px;
  font-size:24px;
  font-weight:bold;
}

#col-left{
  width:635px !important;
}

#leaderboard-toprow, ul.leaderboard-entry{
	list-style: none;  
}

#leaderboard-toprow{
  height:25px;
  line-height:25px;
  border-bottom:2px solid #888;
  margin-bottom:10px;
/*
  border-radius:2px;
  background-color:#FAFAFA;
  border-top:1px solid #888;
  border-left:1px solid #888;
  border-right:1px solid #888;
*/
}

ul.leaderboard-entry{
  height:50px;
  padding-bottom:9px;
  border-bottom:1px dotted #DADADA;
/*   margin-bottom:10px; */
}

ul.leaderboard-entry li, #leaderboard-toprow li{
  float:left;
}

#leaderboard-toprow li{
  text-decoration:underline;
  font-weight:bold;
}

ul.leaderboard-entry{
  height:50px;
  line-height:50px;
}

#leaderboard-category-rank, li.leaderboard-entry-rank{
  width:40px;
  padding-right:20px;
  text-align:right !important;
}

li.leaderboard-entry-rank{
  font-weight:bold;
}

#leaderboard-category-name{
  margin-left:60px; /* equal to avatar container width, including 50px of avatar itself */
  width:185px;/*equal to username width, including padding*/
}

li.leaderboard-entry-avatar-container{
  margin-right:10px;
}

li.leaderboard-entry-username{
  width:160px;
  padding-right:25px;
  font-size:15px;
  font-weight:bold;
  overflow-x:hidden;
  white-space:nowrap;
}

li.leaderboard-entry-followbuttons{
  width:80px;
  margin:10px 0px 0px 20px;
}

#leaderboard-category-score, #leaderboard-category-posts, #leaderboard-category-trips, #leaderboard-category-followers, li.leaderboard-entry-score, li.leaderboard-entry-posts, li.leaderboard-entry-trips, li.leaderboard-entry-followers{
  text-align:center !important;
  margin-right:3px;
  margin-left:3px;
}

li.leaderboard-entry-score, li.leaderboard-entry-posts, li.leaderboard-entry-trips, li.leaderboard-entry-followers{
  font-weight:bold;
  background-color:#DFEAF4;
  height:48px;
  border:1px solid #DADADA;
  color:#333;
}

#leaderboard-category-score{
  width:50px;
}

li.leaderboard-entry-score{
  width:48px;
  border:1px solid #3a1551 !important;
  background-color:#3a1551 !important;
  color:white !important;
}

li.leaderboard-entry-posts, li.leaderboard-entry-trips{
  width:43px;
}

#leaderboard-category-posts, #leaderboard-category-trips{
  width:45px
}

#leaderboard-category-followers{
  width:60px;
}

li.leaderboard-entry-followers{
  width:58px;
}