.edit-item{
  margin:12px 0px 20px 0px;
}

.edit-item-header{
  padding:3px 0px 3px 8px;
  background-color:#EAEAEA;
  font-weight:bold;
}

.edit-item-content{
  margin-left:170px;
}


#save-edits-container{
  padding:10px 8px 10px 165px;
  background-color:#EAEAEA;
}

input, textarea{
  border:1px solid #DADADA;
}

.settings-item-name{
  float:left;
  text-align:right;
  width:140px;
  line-height:29px;
}

.profile-pic-container{
  padding:5px;
  border:1px solid #DADADA;
  height:125px;
  width:125px;
  float:left;
}

.edit-button{
  color:white;
  width:140px;
  height:35px;
  text-align:center;
  line-height:35px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  border: solid 1px #0076a3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding:0px;
}

.edit-button:hover{
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.edit-button:active{
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.edit-profile-pic{
  margin-left:150px;
}

.edit-subtext{
  color:#888;
  font-size:12px;
}

#change-photo-button{
  height:25px;
  width:100px;
  line-height:25px;
  margin-bottom:5px;
}