#col-left{
  border:none !important;
}

#left-content-container{
  padding:0px !important;
}

#right-content-container{
  padding-top:0px !important;
}

#right-widgets{
  float:none !important;
  margin-bottom:10px;
}

#post-input{
  background-color:white;
  z-index:10;
  border:1px solid #888;
  padding:5px;
}

#post-input{
  min-height:36px;
}

.nicEdit-panelContain{
  width:458px !important;
  display:none;
  border-bottom:none !important;
  border-color:#888 !important;
  padding:3px 0px !important;
}

.post-input-selected{
  min-height:85px !important;
}

#tag-input{
  min-height:19px;
}

.input-container{
  width:460px !important;
  max-width: 460px;
}

#new-post-container{
  padding:10px;
  background-color:#FAFAFA;
  margin-bottom:15px;
}

#instruction-bar{
  background-color:#efefef;
  border-top:1px solid #888;  
  border-left:1px solid #888;  
  border-right:1px solid #888;  
  padding:3px 5px;
  display:none;
}

#save-post-button-container{
  display:none;
  position:relative;
  top:-27px;
  left:319px;
}

#add-to-trip-main{
  margin-top:15px;
}


.ui-widget{
  margin-top:0px;
}