#home-col-left{
  width:600px;
  float:left;
}

#home-col-right{
  width:340px;
  float:right;
}

#home-main-content-container{
  padding:10px 0px 5px 0px;
}

#home-main-content-navbar{
  height:30px; 
}

.tab-container{
 padding:10px 20px 20px 20px;
 border-left:1px solid #CACACA;
 border-bottom:1px solid #CACACA;
 border-right:1px solid #CACACA;
 min-height:600px; 
 clear:both;
}

#top-bar{
  height:150px;
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
}

#main-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #CACACA;
	width: 600px;
}

#main-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
}

#main-tabs li a{
  text-decoration: none;
	display: block;
	padding: 0 30px;
	/*border: 1px solid white;*/
	outline: none;
}

#main-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

#main-tabs li a:hover {
	background: #FAFAFA;
}

#main-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #CACACA;
	border-right:1px solid #CACACA;
	border-top:1px solid #CACACA;
}

#main-tabs li.active a{
  color:#333;
}

#main-tabs li.active a:hover  {
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}

/*Follow and Stats*/
#follow-and-stats-container{
  width:340px;
  float:right;
}

#stats-container{
  margin-bottom:20px;
  height:40px;
}

ul.stats-list{
	list-style: none;
	height: 60px;
	width: 320px;
}

ul.stats-list li{
  float: left;
  padding:2px 10px;
}

li.border-left{
  border-left:1px solid #CACACA;
}

ul.stats-list li a{
  color:#6C2B9C;
  font-size:20px;
  font-weight:bold;
}

.stat-label{
  color:#505050;
  font-size:12px;
  display:block;
  font-weight:normal;
}

/*MULTISELECT*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }