/*might need this for IE to resize text gracefully*/
html{
    font-size: 100%;
}

body {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 1em;
}
.hidden{
    display: none;
}
a{
   cursor: pointer;
}
a:link, a:visited {
}
input, input[type="password"], input[type="search"]{
    padding: 5px;
    font-size: 1em;
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#logo{
    text-align: right;
}

ol, ul {
    list-style: none;
    -webkit-padding-start: 0px;
    margin: 0px;
}

#navigation_buttons li {
    float: right;
    margin: 0px 0px 0px 10px;
}

a.navigation:link, a.navigation:visited {
    text-decoration: none;
    font-size: 0.875em;
    font-weight: bold;
}

a.navigation:hover {
    text-decoration: underline;
}
#top_container1{
    float: left;
    width: 100%;
    position: relative;
    right: 31%;
    border-right: 1px solid black;
}
#top_container2{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid black;
}
#trip_summary{
    display:inline;
	float: left;
	position: relative;
    width: 67%;
    left: 32%;
    overflow: hidden;
}
#trip_widget{
    display:inline;
	float: left;
	position: relative;
    width: 29%;
    height: 100%;
    left: 34%;
    overflow: hidden;
    text-align: center;
}
#trip_name{
    font-size: 1.5em;
    font-weight: bold;
}

#trip_creator{
    font-size: 0.75em;
    border-bottom: 1px solid black;
}
#trip_description{
    border-bottom: 1px solid black;
}
#trip_goers{
    border-bottom: 1px solid black;

}
.trip_goer{
    display: inline-block;
}
#trip_places{
    width: 20%;
    display: inline-block;
    float: left;
    font-size: 0.75em;
}
#trip_start_times{
    width: 20%;
    display: inline-block;
    float: left;
    font-size: 0.75em;
}
#need_advice_on{
    width: 60%;
    display: inline-block;
    float: left;
    font-size: 0.75em;
}
.indented{
    padding-left: 20px;
}
.moved{
    text-align: right;
}
#invsugg_btn_cont{

}
#invite_others_button{
    display: inline-block;
    font-size: 0.75em;
}
#get_suggestions_button{
    display: inline-block;
    font-size: 0.75em;
}

#share-trip {
    font-size: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDEDED;
}

#share-trip a:link {
    text-decoration: none;
}

#yes-users {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #EDEDED;
}

.attending-friend {
    
}

a.user-link:link, a.user-link:visited {
    font-size: 12px;
    text-decoration: none;
}

a.user-link:hover {
    font-size: 12px;
    text-decoration: underline;
}

#invite-button {
    margin-top: 10px;
    cursor: pointer;
}

#div_to_popup {
    display: none;
    background: white;
}


/* Specific to home page
----------------------------------------------------------------------------------------------------*/

#banner {
	height: 40px;
	border: 1px solid black;
}



#trip-create-popup {
    height: auto;
	width: 428px;
    border: 10px solid #ccc;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#trip-create-header {
	background-color: white;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

#trip-create-confirm,
#trip-create-cancel {
    margin: 0px 5px 0px 5px;
}

#trip-create-confirm:hover,
#trip-create-cancel:hover {
    text-decoration: underline;
    cursor: pointer;
}

#create-trip-button {
}

#recent-activity {
	height: 300px;
	padding: 10px;
	border: 1px solid black;
	overflow-x: hidden;
}

#recent-activity-header {
	font-size: 1.5em;
	margin-bottom: 10px;
}

#avatar {
    border: 1px solid black;
    display: inline-block;
}

#home-trips {
	height: 300px;
	padding: 10px;
	border: 1px solid black;
}

#home-trips-header {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.home-trip a:link {
    text-decoration: none;
}

.home-trip a:hover {
    text-decoration: underline;
}



#home-friends, #home-friends-trips {
	height: 300px;
	padding: 10px;
	border: 1px solid black;
}

#home-friends-header, #home-friends-trips-header {
	font-size: 1.5em;
	margin-bottom: 10px;
}
/*------------------*/


.sidebar-list {
    padding-bottom: 10px;
}

.large-label {
    font-weight: bold;

    text-align: left;
    
    display: block;
}

.large-input {
    width: 250px;
    font: 16px helvetica;
    padding: 5px;
    margin-top: 8px;
}

.large-button {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.cancel-link {
    margin-left: 10px;
    font: 10px verdana;
}

.large-panel {

}

.friend-capsule {
    width: 70px;
    padding: 0px;
    

    float: left;
    margin-right: 15px;
    height: 100px;
    
    padding-bottom: 5px;
    
    overflow:hidden;
}

.friend-capsule img{
    margin: 10px 10px 0 10px;
    
}

.friend-capsule-name {
    font: 10px verdana;
    text-align: center;
}

/**
NEWS FEED
**/



#trip-wall-control {
    margin: 10px 0;
}

#trip-wall-control-comment-edit{

    display: none;
}

#trip-wall-control-suggest-edit{

    /*display: none;*/
}

.trip-wall-control-tab {
    margin-right: 10px;
    float: left;
    
    margin-bottom: 5px;
}

.wall-textarea-wrap {
    margin-bottom: 10px;
}

.wall-textarea {
    width: 295px;
    margin-bottom: 5px;
    height: 40px;
}

.suggestion-input-wrap button{
    font: 12px georgia;
    font-style: italic;
    
    margin-top: 5px;
}

.wall-textarea-wrap button{
    font: 12px georgia;
    font-style: italic;
}


#trip-wall-content {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.wall-text {
    font: 10px verdana;
    margin-left: 60px;
}

.wall-comment-username {
    font-weight: bold;
    color: #541F5E;
    
    margin-right: 5px;
}

.wall-comment {

    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}


.suggestion-input-wrap {
    height: 30x;
}

#trip-list-content {

}

.wall-reply-comment {

}

.wall-root-comment {

}

#trip-wall-items {
    width: 250px;
}

.wall-timestamp {
    color:#555;
    font: 10px verdana;
}

.wall-timestamp-hover {
    color: #555;
}

.nn-fb-banner.left {
    float: left;
}
.nn-fb-img.left {
    float: left;
    margin-right: 10px;
}
.nn-fb-text.left {
    float: left;
    text-align: left;
}

.feed-trip-reference-text {
    color: #555;
}


#profile-feed {
    float: left;
    width: 365px;

    height: 100%;
}

#profile-friends {

}


/* Specific to trip page
----------------------------------------------------------------------------------------------------*/

#map-shell {
    display: inline;
    float: left;
    position: relative;
    width: 60%;
}
#map-canvas{
    height: 650px;
}
#wall{
    display: inline;
    float: left;
    position: relative;
    width: 40%;
    font-size: 0.85em;
    height: 650px;
}
#wall_input_wrapper {
    text-align: center;
    float: left;
}
#make_suggestion{
    display: inline;
    padding-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
#write_message{
    display: inline;
    cursor: pointer;
    margin-bottom: 10px;
}
#make_suggestion:hover, #write_message:hover{
    text-decoration: underline;
}
#input_container{
    border: 1px solid black;
    float: left;
    position: relative;
    display: inline;
}
#location_search_box{
    width: 50%;
}
#location_autosuggest{
    text-align: left;
    padding-left: 12px;
}
#auto_loc_list{
    
}
#place_type_dropdown{
    float: left;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    width: 95%;
}
#place_good_for{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    width: 95%;
}
#comment_container{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    text-align: left;
}
#comment_input{
    width: 96%;
}
#submit-wall{
    float: right;
    border: 1px solid black;
}
.auto_loc_item{
    
}
#auto_loc_list ul li a{
    display: block;
    text-decoration: none;
    color: #000000;
    line-height: 1.5em;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 10px;
    cursor: pointer;
}
#auto_loc_list ul li a:hover{
    background-color: #E0E0FF;
}

#wall_text_input {
    width: 50%;
}
.infowindow_text{
    font-size: .75em;
}
#wall_content{
    display: inline;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: 541px;
    width: 97%;
    padding-top: 20px;
    padding-left: 10px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

div.location_based{
    cursor: pointer;
    background: white;
	-webkit-transition: background-color linear .2s;
	-moz-transition: background-color linear .2s;
    -o-transition: background-color linear .2s;
    transition: background-color linear .2s;
    
}

div.location_based:hover{
    background: #EAEAEA;
	-webkit-transition: background-color linear .2s;
	-moz-transition: background-color linear .2s;
    -o-transition: background-color linear .2s;
    transition: background-color linear .2s;
    
}


.wall_comment_author {
    font-weight: bold;
    
    margin-right: 5px;
}


.wall-reply {
    margin-left:30px;
}

.wall-timestamp {
    color:#777;
    font-size: 12px;
}
.wall_location_name{
   color: black;
   font-size: 1.25em;
}

.show_reply_button {
    font: 10px verdana;
}


#trip-share-popup, #trip-invite-popup {
    height: auto;
	width: 428px;
    border: 10px solid #ccc;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#trip-share-header, #trip-invite-header {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

#trip-share-friend-panel, #trip-invite-friend-panel {
    height: 265px;
    overflow-x: hidden;
}

#trip-invited-friends-header {
	font-size: 1.5em;
}

#trip-share-toolbar, #trip-invite-toolbar {
    text-align: right;
	margin: 15px 0px 0px 0px;
}

#trip-share-confirm,
#trip-share-cancel,
#trip-invite-confirm,
#trip-invite-cancel {
    margin: 0px 5px 0px 5px;
}

#trip-share-confirm:hover,
#trip-share-cancel:hover,
#trip-invite-confirm:hover,
#trip-invite-cancel:hover {
    text-decoration: underline;
    cursor: pointer;
}


#trip-share-textarea, #trip-invite-textarea {
    font-size: 1em;
    padding: 3px;
    width: 95%;
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.friend-capsule {
    width: 70px;
    padding: 0px;
    
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    height: 100px;
    
    padding-bottom: 5px;
    
    overflow:hidden;
    cursor: pointer;
}

.friend-capsule:hover {
    background: #eee;
}

.friend-capsule.share-selected {
    background: #ccc;
} 

.friend-capsule img{
    margin: 10px 10px 0 10px;
    
}

.friend-capsule-name {
    font: 10px verdana;
    text-align: center;
}

/* wall item delete button */
.remove-wall-item {
    display: inline-block;
    background-image: url(../images/delete_button.png);
    height: 17px;
    width: 17px;
    opacity: 0;
    cursor: pointer;
}
.remove-wall-item:hover {
    opacity: 1;
}


/*
///////////////////////////////////////////////////////////////////////////////
// YELP
*/
#spinner { visibility: hidden; margin-left:3px;}

.marker {font-size: 11px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
.marker {
    font: 10px verdana;
}

/*
///////////////////////////////////////////////////////////////////////////////
// SEARCH LIST
*/

#trip-wall-suggest-list {

}

.search-result-li{
    font: 10px verdana;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    margin-left: 25px;
}

.search-result-li:hover{
    background-color: #eee;
    color: black;
}



/************
RECOMMENDATION BOX
**/
#trip-suggestion-comment-content{
    border:10px solid #CCCCCC;
    cursor:pointer;
    padding:10px;
    
    width: 300px;
    text-align: left;
}

#trip-suggestion-textarea {
    width: 295px;
}