* {
    padding: 0;
    margin: 0;
}

a img {
    border:0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
}

h3 {
    font: 12px Helvetica;
    font-weight: bold;
}

h1 {
    font: 30px "helvetica neue";
    color: #555;
    font-style: italic;
    
    
}

ul {
    list-style: none;
}

.right {
    float: right;
}

#foot {
    clear: both;
}

#nn-head {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: left;
    font: 10px verdana;

    
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    
}

#nn-body {
    width: 900px;
    text-align: left;
    margin: 0 auto;
    
}

#nn-logo {
    float: left;
    margin-top: 10px;
}

.nn-fb-banner {
    margin-top: 10px;
    height: 45px;
}

.nn-fb-banner.right {
    float: right;
}

.nn-fb-img {
}

.nn-fb-img.right {
    float: right;
    margin-left: 10px;
}

.nn-fb-text {
    line-height: 17px;
    margin-top: 2px;
    font: 10px verdana;
}

.nn-fb-text.right {
    text-align: right;
    float: right;
}

.clear-both {
    clear:both;
}


.panel {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 5px;
}



/*
///////////////
INSTRUCTIONS
*/

#instructions {
    text-align: left;
    font: 10px verdana;
    line-height: 16px;
    
    width: 500px;
}

#instructions p {
    margin-top: 10px;
}

#instructions h3 {
    font: 16px georgia;
    font-style: italic;
    margin-top: 15px;
}

#instructions ul {
    margin-top: 10px;
}

#instructions li {
    margin-top: 10px;
    margin-left: 30px;
}

/*
///////////////
SIDEBAR
*/

#nn-sidebar {
    width: 220px;
    float: left;
}

.sidebar-item {
    font: 13px georgia;
    font-style: italic;
    border-bottom: 1px solid #eee;
    padding: 10px 10px 10px 20px;
}

.sidebar-title {
    border-bottom: 1px solid #fff;
}

.sidebar-item-selected {
    background-color: #eee;
}

#nn-main {
    width: 650px;
    float: right;
}

.blue {
    color: #559;
}





