#onboarding-navbar{
  float:left;
  width:170px;
}

#onboarding-navbar li{
	list-style: none;
  display:block;
  font-size:18px;
  font-weight:bold;
  color:white;
  height:50px;
  line-height:50px;
  text-align:center;
  background-color:#DADADA;
  margin-bottom:2px;
}

.filler{
  height:300px !important;
  background-color:#FAFAFA !important;
}

/*Layout*/
.onboarding-main{
  margin-left:30px;
  width:500px;
  float:left;
}

#sticky-bar{
  width:100%; 
  background-color:#202026; 
  position:fixed; 
  bottom:0px; 
  height:48px;
}

#main-tabs{
  margin-top:20px;
}

#follow-counter-container{
  width:100%;
  height:500px;
  position:fixed;
  top:0px;
  z-index:-1;
}

#follow-counter-content{
  position:relative;
  margin:0px auto 0px auto; 
  width:960px;
  z-index:-1;
}

#follow-counter-second-layer{
  position:relative;
  top:285px;
  left:720px;
  z-index:100;
  padding:10px;
  width:80px;
  border:1px solid #BABABA;
}

/*Top*/

#onboarding-top{
/*   border-bottom:1px solid #CACACA; */
  margin-bottom:5px;
}

#onboarding-subtitle{
  padding:15px 0px;
  border-top:1px dotted #CACACA;
  border-bottom:1px dotted #CACACA;
  font-size:24px;
  font-weight:bold;
  margin-bottom:5px;
  color: #333;
  line-height:26px;
}

#onboarding-copy{
  margin-bottom:5px;
}

.activeheader{
  background-color:#007DFA !important;
}

/*Left*/


#onboarding-left{
  width:490px;
}

.place-input{
  margin-bottom:5px !important; 
  width:320px;
  border:1px solid #BABABA;
  padding:4px 0px 2px 2px;
}

/*Right*/

#map-shell{
/*   float:right; */
  margin-top:0px !important;
}

#map-canvas{
  height:367px;
/*   width:367px; */
  background-color:white;
}

#onboarding-right{
  margin-top:69px;
  width:270px;
  float:right;
}

.right-widget-container{
  width:260px;
}

.stat-label, .following-count{
  margin-left:8px;
}

.following-count{
  color:#6C2B9C;
  font-size:18px;
  font-weight:bold;
  margin-bottom:3px;
}

/*Profile*/

.settings-item{
  padding-top:20px;
}

.settings-input-container{
  margin-bottom:5px;
}

.settings-item-name{
  float:left;
  text-align:right;
  width:100px;
}

.settings-item-content{
  margin-left:112px;
}

#e-mail-notification-copy{
  float:left;
}

#save-settings-container{
  margin-top:15px;
  padding:10px 8px 10px 125px;
  background-color:#EFEFEF;
}

.profile-pic-container{
  padding:5px;
  border:1px solid #DADADA;
  height:125px;
  width:125px;
  margin-right:10px;
  float:left;
}

#change-photo{
  margin-top:5px;
  float:left;
  width:180px;
}

input, textarea{
  border:1px solid #DADADA;
}

/*Inputs*/

#username{
  width:130px; 
  height:20px;
}

/*Buttons*/

#progress-buttons-container{
  position:relative;
  margin:0px auto 0px auto; 
  width:960px;
}

a.next-button, a.back-button{
  color:white;
}

.back-button{
  position:absolute;
  top:8px;
  left:110px;
  border:solid 1px #999;
  width:75px;
  height:30px;
  text-align:center;
  line-height:30px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#CACACA));
  background: -moz-linear-gradient(top,  #FAFAFA,  #CACACA);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#CACACA');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding:0px;
}

.back-button:hover{
  border: solid 1px #555;
  background: #CACACA;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
*/
}

.back-button:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#CACACA));
  background: -moz-linear-gradient(top,  #AAAAAA,  #CACACA);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#CACACA');
}

.next-button{
  position:absolute;
  top:8px;
  left:720px;
  border:solid 1px #999;
  width:80px;
  height:30px;
  text-align:center;
  line-height:30px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00A300), to(#007000));
  background: -moz-linear-gradient(top,  #00A300,  #007000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00A300', endColorstr='#007000');
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  padding:0px;
}

.next-button:hover{
  border: solid 1px #555;
  background: #007000;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
*/
}

.next-button:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#005700), to(#007000));
  background: -moz-linear-gradient(top,  #005700,  #007000);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#005700', endColorstr='#007000');
}

.finish{
  width:175px !important;
}
