.place-page-header{
  background:#DFEAF4;
  padding:10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom:3px;
  display:inline-block;
}

#abstract{
<<<<<<< HEAD
  max-height: 114px;
  overflow-y:hidden;
}

.right-tab-container{
/*
 border-top:1px solid #BABABA; 
 margin-top:35px;
*/
}

#abstract{
  margin:5px 0px;
}

.right-widget-container{
  margin-top:25px;
}

.top-bar-header{
  margin-bottom:12px;
=======
  margin-top:6px;
>>>>>>> 2821d01737fdc4d4325889a551d8384cdbf9611e
}