.place-page-header{
  background:#BBD1E7;
  padding:3px 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom:3px;
  display:inline-block;
}

#abstract{
  margin-top:6px;
}