#place-name{
  background:#DFEAF4;
  padding:5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left:-5px;
  display:inline-block;
  height:25px;
  line-height:25px;  
  font-size:20px;
  font-weight:bold;
}

.right-widget-container{
  margin-top:25px;
}

#abstract-container{
  margin:10px 0px;
  padding-bottom:10px;
  border-bottom:1px dotted #CACACA;
}

#wikipedia-attribution{
  font-size:11px;
  color:#888;
  margin-top:3px;
}