.place-page-header{
  background:#BBD1E7;
  padding:3px 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom:6px;
  display:inline-block;
}

#abstract{
  max-height: 114px;
  overflow-y:hidden;
}

.right-tab-container{
 border-top:1px solid #BABABA; 
}