#top-bar{
  height:150px;
}
#profile-pic-container{
  position:relative;
  height:125px;
  width:125px;
  margin-right:10px;
  float:left;
}
#profile-info{
  margin-left:137px;
}

.follow-button{
  float:right;
  width:100px;
}