#follow {
  color:white;
  display:block;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#F90), to(#FF6200));
  background:-moz-linear-gradient(top, #F90, #FF6200);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F90', endColorstr='#FF6200');
  border: 1px solid #E55800;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 13px;
}
#follow:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#follow:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#profile-top-bar{
  height:150px;
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
}

#profile-col-left{
  width:600px;
  float:left;
}

#profile-col-right{
  width:320px;
  float:right;
}

#profile-pic-container{
  padding:8px;
  border:1px solid #EAEAEA;
  height:125px;
  width:125px;
  margin-right:12px;
  float:left;
}

#profile-user-info{
  width:480px;
  display:inline;
}

#follow-and-stats-container{
  width:320px;
  float:right;
}

#profile-main-content-container{
  padding:10px 0px 5px 0px;
}

#profile-main-content-navbar{
  height:30px; 
}

.tab-container{
 padding:20px;
 border-left:1px solid #CACACA;
 border-bottom:1px solid #CACACA;
 border-right:1px solid #CACACA;
 min-height:600px; 
}

ul.main-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #CACACA;
	width: 600px;
}

ul.main-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
}

ul.main-tabs li a{
  text-decoration: none;
	display: block;
	padding: 0 30px;
	/*border: 1px solid white;*/
	outline: none;
}

ul.main-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

ul.main-tabs li a:hover {
	background: #FAFAFA;
}

ul.main-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #CACACA;
	border-right:1px solid #CACACA;
	border-top:1px solid #CACACA;
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;*/
}

ul.main-tabs li.active a{
  color:#333;
}

ul.main-tabs li.active a:hover  {
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}

.tab-conatiner{
  clear:both;
}

ul.stats-list{
	list-style: none;
	height: 60px;
	width: 320px;
}

ul.stats-list li{
  float: left;
  padding:2px 10px;
}

li.border-left{
  border-left:1px solid #CACACA;
}

ul.stats-list li a{
  color:#6C2B9C;
  font-size:20px;
  font-weight:bold;
}

.stat-label{
  color:#505050;
  font-size:12px;
  display:block;
  font-weight:normal;
}

#map-shell{
  position:relative;
  top:10px;
  padding:5px;
}
