#top-bar{
  height:150px;
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
}
#profile-pic-container{
  position:relative;
  height:125px;
  width:125px;
  margin-right:12px;
  float:left;
}
#profile-info{
  margin-left:137px;
}
#profile-name{
  font-size:30px;
  font-weight:bold;
  line-height:38px;
}