
#profile-pic-container{
  position:relative;
  height:125px;
  width:125px;
  margin-right:10px;
  float:left;
}
#profile-info{
  margin-left:137px;
}

.follow, .unfollow{
  float:right;
  width:100px;
  margin-left:20px;
}

#edit-profile{
  float:right;
  position:absolute;
  font-size:11px;
  left:400px;
}