#profile-pic-container{
  float:left;
}
.profile-item{
  margin:10px 0px 0px;
  position:relative;
}

.follow, .unfollow, .edit-profile{
/*   float:left; */
  width:100px;
  margin-left:10px;
}

#profile-name{
  height:25px;
  line-height:25px;  
  margin-bottom:8px;
  margin-left:98px;
  font-size:20px;
  font-weight:bold;
  white-space:nowrap;  
}

.right-widget-container{
  margin-top:25px;
}

#profile-url{
  color:#3B5998;
}