#map-shell{
  margin-top:35px;
  padding:5px;
  border:1px solid #BABABA;
}


#profile-pic-container{
  margin-right:10px;
  float:left;
}

#profile-info{
  margin-left:137px;
}

.follow, .unfollow{
  float:right;
  width:100px;
  margin-left:20px;
}