#profile-poster {
    padding: 10px;
    background-color: black;
    margin-bottom: 10px;
}

#profile-name {
    font: 18px georgia;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.sidebar-list {
    padding-bottom: 10px;
}

.large-label {
    font: 18px georgia;
    font-weight: bold;
    font-style: italic;
    color: #559;
    width: 250px;

    text-align: left;
    
    display: block;
}

.large-input {
    
    width: 250px;
    font: 16px helvetica;
    padding: 5px;
    margin-top: 8px;
}

#create-trip-window {
    display: none;
}

.large-button {

    padding: 10px;
    text-align: center;
    font: 18px georgia;
    font-weight: bold;
    font-style: italic;
    color: green;
}

.cancel-link {
    margin-left: 10px;
    font: 10px verdana;
}

.large-panel {

}

.friend-capsule {
    width: 70px;
    padding: 0px;
    

    float: left;
    margin-right: 15px;
    height: 100px;
    
    padding-bottom: 5px;
    
    overflow:hidden;
}

.friend-capsule img{
    margin: 10px 10px 0 10px;
    
}

.friend-capsule-name {

    font: 10px verdana;
    text-align: center;
}


