#profile-pic-container{
  float:left;
}

#profile-info{
/*   margin:0px 0px 20px 105px; */
  
}

#bio{
  margin:5px 0px 0px;
}

#website{
  overflow-x: hidden;
  width:300px;
}

.follow, .unfollow, .edit-profile{
/*   float:left; */
  width:100px;
  margin-left:10px;
}

#profile-name{
  height:25px;
  line-height:25px;  
  margin-bottom:8px;
  margin-left:98px;
  font-size:20px;
  font-weight:600;
  white-space:nowrap;  
}

.right-widget-container{
  margin-top:25px;
}

#profile-url{
  color:#3B5998;
}