.tab-container{
  min-height:0px;
}

.settings-item{
  padding-top:20px;
}

.settings-input-container{
  margin-bottom:5px;
}

.settings-item-name{
  float:left;
  text-align:right;
  width:110px;
}

.settings-item-content{
  margin-left:125px;
}

#e-mail-notification-copy{
  float:left;
}

#save-settings-container{
  margin-top:15px;
  padding:10px 8px 10px 125px;
  background-color:#EFEFEF;
}

.profile-pic-container{
  padding:5px;
  border:1px solid #DADADA;
  height:125px;
  width:125px;
  margin-right:55px;
}

#change-photo{
  margin-top:5px;
  margin-right:130px;
  float:right;
}

input, textarea{
  border:1px solid #DADADA;
}

/*BUTTONS*/

.save-settings-button{
  border:solid 1px #999;
  margin-right:20px;
  color:white;
  width:140px;
  height:35px;
  text-align:center;
  line-height:35px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding:0px;
}

.save-settings-button:hover{
  border: solid 1px #555;
  background: #0078a5;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
*/
}

.save-settings-button:active{
  background: -webkit-gradient(linear, left top, left bottom, from(#005270), to(#0078a5));
  background: -moz-linear-gradient(top,  #005270,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#005270', endColorstr='#0078a5');
}