.settings-item{
  margin:25px 0;
}

.settings-item-header{
   /*background-color:#EAEAEA;*/
  font-weight:bold;
}

.settings-item-name{
  float:left;
  text-align:right;
  width:120px;
}

.settings-item-content{
  margin-left:135px;
}

#e-mail-notification-copy{
  float:left;
}

#save-settings-container{
  margin-top:15px;
  padding:10px 8px 10px 135px;
  background-color:#EFEFEF;
}

.tab-container{
  min-height:0px;
}

#top-bar{
  height:50px;
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
  font-size:30px;
  line-height:38px;
  font-weight:bold;
}

.profile-pic-container{
  padding:5px;
  border:1px solid #DADADA;
  height:125px;
  width:125px;
  float:left;
  margin-right:10px;
}

#change-photo{
  margin-top:5px;
  float:left;
}

input, textarea{
  border:1px solid #DADADA;
}

.save-settings-button{
  color:white;
  width:140px;
  height:35px;
  text-align:center;
  line-height:35px;
  font-size:13px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  border: solid 1px #0076a3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding:0px;
}

.settings-button:hover{
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.settings-button:active{
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}