#signup-form-container {
	width: 500px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;

}
#signup_form th, form th {
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}
input[type=text], input[type=password] {
	display: block;
	margin: 0 0 0 0;
	width: 380px;
	border:1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 9px;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

input[type=text]:focus, input[type=password]:focus{
  outline: none;
  border-color:rgba(82,168,236,.75)!important;
  box-shadow: 0 0 8px rgba(82,168,236,.5);
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.5);
  -webkit-box-shadow: 0 0 8px rgba(82,168,236,.5);
}

#signup-button {
  color:white;
  height:40px;
  width: 154px;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
  border: solid 1px #0076a3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  margin:0;
}
#signup-button:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
#signup-button:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}



/* Validation error messages */

label.error {
	color: red;
	font-size: 13px;
}