#signup-form-container {
	width: 500px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;

}
/*
fieldset {
	width: 480px;
	margin: auto;
	display: block;
	border: none;
}
*/
#signup_form th, form th {
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}
input[type=text], input[type=password] {
	display: block;
	margin: 0 0 0 0;
	width: 340px;
	border:1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 9px;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border-color:rgba(82,168,236,.75)!important;
    box-shadow: 0 0 8px rgba(82,168,236,.5);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.5);
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.5);
}

input[type=submit], form a {
	border: none;
	text-decoration: none;
	font-size: 18px;
	-moz-border-radius: 4px;
	background: gray;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background: #0000CC;
	cursor: pointer;
}




/* Validation error messages */

.error {
	/*
	color: red;
	font-size: 13px;
	*/
}

