*{
    margin: 0;
    padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: arial;
}
#signup-form-container {
	width: 500px;
	padding: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;

}

fieldset {
	width: 480px;
	margin: auto;
	display: block;
	border: none;
}

h1 {
	margin: 1em;
	font-family: arial black, arial;
	text-align: center;
	text-shadow: 0 1px 0 white;
}

h2{
	margin:1em;
	font-family: helvetica neue, helvetica, arial;
	font-size:20px;
	color:black;
}

h3{
	font-family: helvetica neue, helvetica, arial;
	font-size:14px;
	color:black;
}

#signup_form th, form th {
    text-align: right;
    padding-right: 10px;
}
input[type=text], input[type=password] {
	display: block;
	margin: 0 0 0 0;
	width: 280px;
	border:1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0.4em;
	font-size: 1.25em;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border-color:rgba(82,168,236,.75)!important;
    box-shadow: 0 0 8px rgba(82,168,236,.5);
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.5);
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.5);
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 18px;
	-moz-border-radius: 4px;
	background: gray;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background: #0000CC;
	cursor: pointer;
}




/* Validation error messages */

.error {
	color: #393939;
	font-size: 15px;
}

