#map-shell {
    padding: 5px;
    background: #F7F7F7;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    box-shadow: 5px 5px 3px #888;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
}

#map-canvas {
    height: 350px;
}

#map-toolbar {
    height: 25px;
    color: white;
    
    padding-left: 5px;
    padding-top: 5px;
    
    font: 12px 'Helvetica Neue';
    line-height: 20px;
}
.nn-fb-banner.left {
    float: left;
}
.nn-fb-img.left {
    float: left;
    margin-right: 10px;
}
.nn-fb-text.left {
    float: left;
    text-align: left;
}

.trip-name {
    font: 12px Helvetica;
    font-weight: bold;
}

.nn-fb-text a {
    color: #88f;
}

/*
#console {
    margin-top: 5px;
    width: 900px;
}
*/

/*
#list {
    width: 280px;
    float: left;
}
*/

.list-item-wrap {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    float: left;
}

.item-by {
    font-style: italic;
}

/*
#wall {
    width: 600px;
    float: right;
    margin-left: 20px;
}


#trip-wall-control {
    margin: 10px 0;
}
*/

#trip-wall-control-comment-edit{

    display: none;
}

#trip-wall-control-recommend-edit{

    /*display: none;*/
}

.trip-wall-control-tab {
    margin-right: 10px;
    float: left;
    
    margin-bottom: 5px;
}

.wall-text-input-wrap {
    padding-left: 5px;
    margin-bottom: 10px;
}

#wall-text-input {
    width: 500px;
    height: 1em;
    padding: 7px;
    /*margin-bottom: 5px;
    height: 40px;*/
    font-size: 1.2em;
    float: ;
    
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.recommendation-input-wrap button{
    font: 12px georgia;
    font-style: italic;
    
    margin-top: 5px;
}

.wall-textarea-wrap button{
    font: 12px georgia;
    font-style: italic;
}


#trip-wall-content {
    margin-top: 20px;
}

.wall-text {

}

.wall-comment-username {
    font-weight: bold;
    color: #541F5E;
    
    margin-right: 5px;
}

/*.wall-comment {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}*/

.wall-reply {
    margin-left:30px;
}

.wall-location-text {
    color: #777;
}

.recommendation-input {
    width: 200px;
}

.recommendation-input-wrap {
    height: 30x;
}

#trip-list-content {

}

.comment-input {
    height: 50px;
    width: 599px;
}

.wall-reply-comment {

}

.wall-root-comment {

}

#trip-wall-items {
    width: 450px;
}

.wall-timestamp {
    color:#777;
    font-size: 12px;
}

.reply_submit {
    font: 12px georgia;
    font-style: italic;
}

.reply_box {
    margin-left: 30px;
    padding: 7px;
    height: 1em;
    width: 420px;
    /*margin-bottom: 5px;*/
    font-size: 1.2em;
    
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

/*can we put this in one place?*/
.reply-box {
    padding-bottom: 20px;
}

.reply-container {
    text-align: right;
}

.show_reply_button {
    font: 10px verdana;
}

/*
///////////////////////////////////////////////////////////////////////////////
// YELP
*/
#spinner { visibility: hidden; margin-left:3px;}

.marker {font-size: 11px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
.marker {
    font: 10px verdana;
}

/*
///////////////////////////////////////////////////////////////////////////////
// SEARCH LIST
*/

#trip-wall-recommendation-list {

}

.search-result-li{
    font: 10px verdana;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px;
    margin-left: 25px;
}

.search-result-li:hover{
    background-color: #eee;
    color: black;
}

/*
///////////////////////////////////////////////////////////////////////////////
// SUGGEST WINDOW
*/

#trip-share-popup, #trip-invite-popup {
    height: auto;
	width: 428px;
    border: 10px solid #ccc;
    padding: 20px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#trip-share-header, #trip-invite-header {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

#trip-share-friend-panel, #trip-invite-friend-panel {
    height: 265px;
    overflow-x: hidden;
}

#trip-invited-friends-header {
	font-size: 1.5em;
}

#trip-share-toolbar, #trip-invite-toolbar {
    text-align: right;
	margin: 15px 0px 0px 0px;
}

#trip-share-confirm,
#trip-share-cancel,
#trip-invite-confirm,
#trip-invite-cancel {
    margin: 0px 5px 0px 5px;
}

#trip-share-confirm:hover,
#trip-share-cancel:hover,
#trip-invite-confirm:hover,
#trip-invite-cancel:hover {
    text-decoration: underline;
    cursor: pointer;
}


#trip-share-textarea, #trip-invite-textarea {
    font-size: 1em;
    padding: 3px;
    width: 95%;
    border: 1px solid #8F8F8F;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.friend-capsule {
    width: 70px;
    padding: 0px;
    
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    height: 100px;
    
    padding-bottom: 5px;
    
    overflow:hidden;
    cursor: pointer;
}

.friend-capsule:hover {
    background: #eee;
}

.friend-capsule.share-selected {
    background: #ccc;
} 

.friend-capsule img{
    margin: 10px 10px 0 10px;
    
}

.friend-capsule-name {
    font: 10px verdana;
    text-align: center;
}


/************
RECOMMENDATION BOX
**/
#trip-recommendation-comment-content{
    border:10px solid #CCCCCC;
    cursor:pointer;
    padding:10px;
    
    width: 300px;
    text-align: left;
}

#trip-recommend-textarea {
    width: 295px;
}

.black {
    color: black !important;
}

.nn-window-tb {
    text-align: right;
    padding-top: 10px;
}