/*Left*/

textarea#post-input{
	width:538px;
	min-height:60px;
	color:#333;
  border: 1px solid #333;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
	transition: border linear .0s, box-shadow linear .0s;
	-moz-transition: border linear .0s, -moz-box-shadow linear .0s;
	-webkit-transition: border linear .0s, -webkit-box-shadow linear .0s;
	overflow:hidden;
	resize:none;
}

#trip-name{
  min-height:25px;
  line-height:25px;  
  margin-bottom:8px;
  font-size:20px;
  font-weight:bold;
}

#actions-container{
  margin-bottom:20px;
}

.itinerary-entry{
  margin-bottom:4px;
}

#trip-description, #itinerary, #share-link-container{
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px dotted #CACACA;
}

#delete-trip-container{
  margin:30px 0px 10px;
  padding:10px 0px;
  border-bottom:1px dotted #CACACA;
  border-top:1px dotted #CACACA;
  font-weight:bold;
 
}

.share, #invite-others-button{
  font-weight:bold;
}

.right-widget-container{
  margin-top:25px;
}

#trip-goers{
  margin:25px 0px 10px;
  padding:10px 0px;
  border-top:1px dotted #CACACA;
  border-bottom:1px dotted #CACACA;
}

.goer-avatar{
  margin:0px 3px 0px 0px;
  float:left;
}

/*wall*/

#input-container{
  border: 1px solid black;
  float: left;
  position: relative;
  display: inline;
  width: 99.5%;
}
#location-autosuggest{
  text-align: left;
  padding-left: 12px;
}

#auto-loc-list ul li a{
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 1.5em;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}
#auto-loc-list ul li a:hover {
  background-color: #E0E0FF;
}

#wall-text-input {
  width: 50%;
}

#autocomplete-results div:hover{
  background-color:#E0E0FF;
}

.input-container{
  padding:10px 15px;
  width:490px;
  background-color:#FAFAFA;
  margin-bottom:20px;
  /*border:1px solid #999;*/
}
.save-post-form{
  margin-bottom:20px;
}
.input-header{
  font-weight:bold;
}
#post-input, #tag-input{
  width:482px;
  margin-bottom:8px;  
  padding:3px;
  background-color:white;
  border:1px solid #ABABAB;
  z-index:10;
}
#post-input{
  min-height:65px;
}
#tag-input{
  min-height:19px;
}
.input-instructions{
  color:#777;
  font-size:11px;
  margin-left:5px;
}

/*Left END*/

/*Buttons*/

.rsvp_yes_button{
  margin-right:3px;
  color:#333;
  display:block;
  height:28px;
  line-height:28px;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  background:#FAFAFA;
  background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');
  border: 1px solid #CACACA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}

.rsvp_yes_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FF00), to(#00CC66));
  background: -moz-linear-gradient(top,  #00FF00,  #00CC66);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#00CC66');
}

.rsvp_yes_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

.gray_rsvp_yes_button, .gray_rsvp_no_button{
  margin-left:3px;
  color:#999;
  display:block;
  height:28px;
  line-height:28px;
  text-align:center;
  font-size:13px;
  text-decoration:none;
  background:#FDFDFD;
  /*background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');*/
  border: 1px solid #EAEAEA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}

.gray_rsvp_yes_button:hover, .gray_rsvp_no_button:hover{
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FF00), to(#00CC66));
  background: -moz-linear-gradient(top,  #00FF00,  #00CC66);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#00CC66');
}

.gray_rsvp_yes_button:active, .gray_rsvp_no_button:active{
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

.rsvp_no_button{
  display:block;
  height:28px;
  line-height:28px;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  background:#FAFAFA;
  background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');
  border: 1px solid #CACACA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}
.rsvp_no_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

.rsvp_no_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

/*
.share{
  display:block;
  height:28px;
  line-height:28px;
  text-align:center;
  font-weight:bold;
  font-size:13px;
  text-decoration:none;
  background:#FAFAFA;
  background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DADADA));
  background:-moz-linear-gradient(top, #FAFAFA, #DADADA);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DADADA');
  border: 1px solid #CACACA;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:75px;
}
.share:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

.share:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
*/

/*
#delete-trip{
  width:8px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#delete-trip:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#delete-trip:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
*/

/*Buttons END*/
