#map-canvas {
    height: 300px;
    width: 790px;
    
    margin: 0 auto;
}

#map-shell {
    width: 800px;
    height: 335px;
    background-color: black;
}

#map-toolbar {
    height: 25px;
    color: white;
    
    padding-left: 5px;
    padding-top: 5px;
    
    font: 12px 'Helvetica Neue';
    line-height: 20px;
}

#console {
    margin-top: 5px;
    width: 800px;
}


#list {
    width: 300px; float: left;
}

#wall {
    width: 500px; float: right;
}

#trip-wall-control {
    margin: 10px 0;
}

#trip-wall-control-comment-edit{

    display: none;
}

#trip-wall-control-suggest-edit{

    /*display: none;*/
}

.trip-wall-control-tab {
    margin-right: 10px;
    float: left;
    
    
}

#trip-wall-content {

}

.suggestion-input {
    width: 495px;
}

.suggestion-input-wrap {
    height: 30x;
}

.comment-input {
    height: 50px;
    width: 499px;
}

ul {
    list-style-type: none;
}