/*colors*/
#trip-name, #trip_description, #trip-col-left-shell{
	background-color:white;
}

#trip-wall{
	background-color:white;
}

/*#trip-widget, */#message-box-container{
	background-color:#EDF0F9;
}

#itinerary, #map-shell, .item-header{
	background-color:#EDF0F9;
}

/*Content*/
.content .wrapper{
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}

#trip-name{
	padding:0px 5px 0px 5px;
	width:560px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}

/*Left*/

#trip-col-left-shell{
	width: 570px;
	padding:0px 5px 5px 5px;
}

#trip-col-left-content{
	width:560px;
	padding:0px 5px 5px 5px;
	background-color:white;
}

.message, .suggestion{
	padding:10px 0px 10px 0px;
	margin:5px 0px 0px 0px;
	border-top: 1px solid #DADADA;
	font-size:15px;
	line-height:20px;
}

#trip_description{
	padding:2px 5px 18px 5px;
	border-bottom:2px solid #DADADA;
}

#trip-wall{
	margin-top:3px;
	/*border-top:3px solid gray;*/
	padding-top:10px;
}

#widget-and-wall{
	min-height:425px;
	background-color:white;
}

#add-to-wall{
	margin:5px 0px 0px 0px;
	border-top:1px solid #EAEAEA;
	padding-top:10px;
}

#message-box-container{
	padding:5px;
	margin-top:5px;
}

textarea#message-box{
	width:548px;
	min-height:60px;
	font-size:14px;
	color:#1E1E1E;
	line-height:20px;
  border: 1px solid #DADADA;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
	transition: border linear .0s, box-shadow linear .0s;
	-moz-transition: border linear .0s, -moz-box-shadow linear .0s;
	-webkit-transition: border linear .0s, -webkit-box-shadow linear .0s;
	overflow:hidden;
	resize:none;
}

#trip-widget{
	padding:8px 5px 8px 5px;
	border-top:1px solid #DADADA;
	margin-top:1px;
}

#countdown-container{
	margin:15px 0px 0px 10px;
	border-top:1px solid gray;
	padding-top:10px;
}

/*Right*/

#itinerary, #map-shell{
	width:350px;
	padding:5px;
}

#trip-col-right{
	float:right;
}

#trip-destinations{
	padding:0px 0px 10px 0px;
}

.item-header{
	padding:10px 10px 0px 10px;
	width:200px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
}

.right-item-content{
	background-color: white;
	padding:3px;
	border:1px solid #EAEAEA;
}

.trip_goer{
	display:inline;
	float:left;
	margin-left:3px;
}

#num{
	display:inline;
}

#map-container{
	position:relative;
	top:25px;
}

#map-canvas{
	height:350px;
}

#map-shell input {
  font-size: 14px;
  width: 200px;
}

/*Content END*/

/*Buttons*/
/*.invsugg_btns{
	display:inline;
	width:100px;
	float:left;
}

#invite-others-button{
  width:75px;
  color:white;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#000099), to(#000033));
  background:-moz-linear-gradient(top, #000099 , #000033);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000099', endColorstr='#000033');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#invite-others-button:hover{
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#invite-others-button:active{
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#get-suggestions-button {
  width:75px;
  color:white;
  display:block;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#660099), to(#660066));
  background:-moz-linear-gradient(top, #660099 , #660066);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#660099', endColorstr='#660066');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#get-suggestions-button:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#get-suggestions-button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}*/

#share-trip {
  font-size: 1.5em;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
}
#share-trip a:link {
  text-decoration: none;
}
#make-suggestion:hover, #write-message:hover{
  text-decoration: underline;
}
#input-container{
  border: 1px solid black;
  float: left;
  position: relative;
  display: inline;
  width: 99.5%;
}
#location-autosuggest{
  text-align: left;
  padding-left: 12px;
}
#place-type-dropdown{
  float: left;
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  width: 95%;
}
#place-good-for{
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
  width: 95%;
}
#comment-container{
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  text-align: left;
}
#comment-input{
  width: 96%;
}
#submit-wall{
  float: right;
  border: 1px solid black;
}
#auto-loc-list ul li a{
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 1.5em;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}
#auto-loc-list ul li a:hover {
  background-color: #E0E0FF;
}

#wall-text-input {
  width: 50%;
}
#wall-content {
  overflow-x: hidden;
}
li.suggestion {
  cursor: pointer;
  background: white;
  -webkit-transition: background-color linear .2s;
  -moz-transition: background-color linear .2s;
  -o-transition: background-color linear .2s;
  transition: background-color linear .2s;
}
li.suggestion:hover{
  background: #EAEAEA;
	-webkit-transition: background-color linear .2s;
	-moz-transition: background-color linear .2s;
  -o-transition: background-color linear .2s;
  transition: background-color linear .2s;
}
li.suggestion.highlighted{
  background: #EAEAEA;
	-webkit-transition: background-color linear .2s;
	-moz-transition: background-color linear .2s;
  -o-transition: background-color linear .2s;
  transition: background-color linear .2s;
}
.remove-wall-item {
  background-image: url(/david/images/delete_button.png);
  height: 15px;
  width: 15px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.checkbox-name {
  text-align: right;
  padding-right: 10px;
}
.padding-right {
  padding-right: 20px;
}
.friend-capsule .friend-name {
  color:#222;
}
.friend-capsule:hover {
  background: #e7ebf5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.friend-capsule:hover .friend-name {
  color: #000;
}
.friend-capsule.share-selected {
  background: #526ea6;
}
.friend-capsule.share-selected .friend-name {
  color: #fff;
}

#wall-post-button {
  position:relative;
  left:445px;
  top:5px;
  width: 120px;
  height:30px;
  cursor: pointer;
  line-height:30px;
  text-align:center;
  text-decoration:none;
	color: white;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#44749D), to(#navy));
	background: -moz-linear-gradient(top,  #44749D,  #navy);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#44749D', endColorstr='#navy');
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#wall-post-button:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
#wall-post-button:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

#rsvp_yes_button{
  width:170px;
  height:40px;
  color:white;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#00CC33), to(#009900));
  background:-moz-linear-gradient(top, #00CC33, #009900);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC33', endColorstr='#009900');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_yes_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FF00), to(#00CC66));
  background: -moz-linear-gradient(top,  #00FF00,  #00CC66);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#00CC66');
}

#rsvp_yes_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#rsvp_no_button{
  width:45px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_no_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#rsvp_no_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#deletebutton{
  width:85px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#deletebutton:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#deletebutton:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
/*Buttons END*/
