/*Left*/

#message-box-container{
	padding:5px;
	margin-top:5px;
}

textarea#post-input{
	width:538px;
	min-height:60px;
	color:#333;
  border: 1px solid #333;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
	transition: border linear .0s, box-shadow linear .0s;
	-moz-transition: border linear .0s, -moz-box-shadow linear .0s;
	-webkit-transition: border linear .0s, -webkit-box-shadow linear .0s;
	overflow:hidden;
	resize:none;
}

#tagbar{
  margin-bottom:6px;
}

#top-bar, #top-bar-right{
  min-height:150px;
}

#top-bar-right{
  float:right;
  width:340px;
}

#trip-description{
  margin-top:-3px;
}

#trip-info{

}

#itinerary{
}

.destinationbar{
}

.destination-dates{
}

.destinationbar-item{
}

/*#trip_goers{

}*/

.item-header{
  font-weight:bold;
}


#trip-col-right{
	float:right;
}

#num{
	display:inline;
}

/*wall*/

#input-container{
  border: 1px solid black;
  float: left;
  position: relative;
  display: inline;
  width: 99.5%;
}
#location-autosuggest{
  text-align: left;
  padding-left: 12px;
}

#auto-loc-list ul li a{
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 1.5em;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}
#auto-loc-list ul li a:hover {
  background-color: #E0E0FF;
}

#wall-text-input {
  width: 50%;
}

.delete{
  background-image: url(/david/images/delete_button.png);
  height: 15px;
  width: 15px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

#autocomplete-results div:hover{
  background-color:#E0E0FF;
}

.input-container{
  padding:10px 15px;
  width:490px;
  background-color:#FAFAFA;
  margin-bottom:20px;
  /*border:1px solid #999;*/
}
.save-post-form{
  margin-bottom:20px;
}
.input-header{
  font-weight:bold;
}
#post-input, #tag-input{
  width:482px;
  margin-bottom:8px;  
  padding:3px;
  background-color:white;
  border:1px solid #ABABAB;
  z-index:10;
}
#post-input{
  min-height:65px;
}
#tag-input{
  min-height:19px;
}
.input-instructions{
  color:#777;
  font-size:11px;
  margin-left:5px;
}

/*Left END*/

/*Buttons*/

.follow, .unfollow{
  width:100px;
  float:right;
}

#post-button{
  float:right;
  cursor: pointer;
  text-align:center;
  text-decoration:none;
	border: solid 1px #333;
	padding:7px 45px 7px 45px;
	background: #0030C2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0030C2), to(#00248F));
	background: -moz-linear-gradient(top,  #0030C2,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0030C2', endColorstr='#00248F');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#post-button:hover {
	padding:7px 45px 7px 45px;
	background: #00248F;
	background: -webkit-gradient(linear, left top, left bottom, from(#002AA8), to(#00248F));
	background: -moz-linear-gradient(top,  #002AA8,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#002AA8', endColorstr='#00248F');
}

#post-button:active {
	padding:8px 45px 6px 45px;
	background-color:#001D75;
}

#post-button a{
  color:white;
  font-size:13px;
  font-weight:bold;
}

#rsvp_yes_button{
  width:170px;
  height:40px;
  color:white;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#00CC33), to(#009900));
  background:-moz-linear-gradient(top, #00CC33, #009900);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC33', endColorstr='#009900');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_yes_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FF00), to(#00CC66));
  background: -moz-linear-gradient(top,  #00FF00,  #00CC66);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#00CC66');
}

#rsvp_yes_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#rsvp_no_button{
  width:45px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_no_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#rsvp_no_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#delete-trip{
  width:85px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#delete-trip:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#delete-trip:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}


/*Buttons END*/
