#map-canvas {
    height: 320px;
    width: 890px;
    
    margin: 0 auto;
}

#map-shell {
    width: 900px;
    height: 386px;
    background-color: black;
}

#map-toolbar {
    height: 25px;
    color: white;
    
    padding-left: 5px;
    padding-top: 5px;
    
    font: 12px 'Helvetica Neue';
    line-height: 20px;
}
.nn-fb-banner.left {
    float: left;
}
.nn-fb-img.left {
    float: left;
    margin-right: 10px;
}
.nn-fb-text.left {
    float: left;
    text-align: left;
}

.trip-name {
    font: 12px Helvetica;
    font-weight: bold;
}


#console {
    margin-top: 5px;
    width: 900px;
}


#list {
    width: 280px; float: left;
}

.list-item-wrap {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.item-by {
    font-style: italic;
}

#wall {
    width: 600px; float: right;
    margin-left: 20px;
}

#trip-wall-control {
    margin: 10px 0;
}

#trip-wall-control-comment-edit{

    display: none;
}

#trip-wall-control-suggest-edit{

    /*display: none;*/
}

.trip-wall-control-tab {
    margin-right: 10px;
    float: left;
    
    margin-bottom: 5px;
}

.wall-textarea-wrap {
    margin-bottom: 10px;
}

.wall-textarea {
    width: 595px;
    margin-bottom: 5px;
    height: 40px;
}

.suggestion-input-wrap button{
    font: 12px georgia;
    font-style: italic;
    
    margin-top: 5px;
}

.wall-textarea-wrap button{
    font: 12px georgia;
    font-style: italic;
}


#trip-wall-content {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 5px;
}

.wall-text {
    font: 10px verdana;
    margin-left: 60px;
}

.wall-comment-username {
    font-weight: bold;
    color: #541F5E;
    
    margin-right: 5px;
}

.wall-comment {
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.wall-reply {
    margin-left:30px;
}

.wall-location-text {
    font: 12px georgia;
    font-style: italic;
    color: #777;
}

.suggestion-input {
    width: 200px;
}

.suggestion-input-wrap {
    height: 30x;
}

#trip-list-content {

}

.comment-input {
    height: 50px;
    width: 599px;
}

.wall-reply-comment {

}

.wall-root-comment {

}

#trip-wall-items {
    width: 450px;
}

.wall-timestamp {
    color:#fff;
    font: 11px verdana;
}

.wall-timestamp-hover {
    color: #555;
}



/*
///////////////////////////////////////////////////////////////////////////////
// YELP
*/
#spinner { visibility: hidden; margin-left:3px;}

.marker {font-size: 11px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
.marker {
    font: 10px verdana;
}