/*Left*/

#message-box-container{
	padding:5px;
	margin-top:5px;
}

textarea#wallitem-input{
	width:538px;
	min-height:60px;
	color:#333;
  border: 1px solid #333;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
	transition: border linear .0s, box-shadow linear .0s;
	-moz-transition: border linear .0s, -moz-box-shadow linear .0s;
	-webkit-transition: border linear .0s, -webkit-box-shadow linear .0s;
	overflow:hidden;
	resize:none;
}

/*Tabs*/

#main-tabs{
	list-style: none;
	height: 36px;
	border-bottom: 1px solid #CACACA;
	width: 600px;
}

#main-tabs li{
  float: left;
	height: 35px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 35px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
}

#main-tabs li a{
  text-decoration: none;
	display: block;
	padding: 0 30px;
	/*border: 1px solid white;*/
	outline: none;
}

#main-tabs li:hover{
	background-color:#FAFAFA;
	text-decoration:none;
}

#main-tabs li a:hover {
	background: #FAFAFA;
}

#main-tabs li.active{ 
	border-bottom: 1px solid white; 
	font-weight:bold;
	border-left:1px solid #CACACA;
	border-right:1px solid #CACACA;
	border-top:1px solid #CACACA;
}

#main-tabs li.active a{
  color:#333;
}

#main-tabs li.active a:hover  {
  background:white;
	border-bottom: 1px solid white; 
	font-weight:bold;
	cursor:default;
	color:#333;
}

#top-bar{
  height:150px;
  width:600px;
  border-bottom:2px solid #777;
  padding-bottom:10px;
  float:left;
}

#col-left{
  width:600px;
  float:left;
}

#trip-info{
  width:600px;
  display:block;
}

/*Follow and Stats*/
#follow-and-stats-container{
  width:340px;
  float:right;
}

/*Right*/

#col-right{
  width:340px;
  float:right;
}

.tooltip_container{
  position:absolute;
  background:url(/david/images/dark_arrow.png) 50% 0 no-repeat;
  padding:7px 0 0 0;
  z-index:500;
}
.tooltip_interior{
  font-size:12px;
  background:url(/david/images/tooltip.png);
  color:white;
  padding:3px 6px;
}
.tooltip_interior div{
  margin-top:2px;
  font-size:.97em;
}

.item-header{
  font-weight:bold;
}


#trip-col-right{
	float:right;
}

#trip-destinations{
	padding:0px 0px 10px 0px;
}

.right-item-content{
	background-color: white;
	padding:3px;
	border:1px solid #EAEAEA;
}

.trip_goer{
	display:inline;
	float:left;
	margin-left:3px;
}

#num{
	display:inline;
}


/*map*/

#map-shell{
  position:relative;
  top:46px;
  padding:5px;
  border:1px solid #CACACA;
}

#map-shell input {
  width: 200px;
}

.fixed{
  position: fixed;
  top: 0px;
}


/*wall*/

#input-container{
  border: 1px solid black;
  float: left;
  position: relative;
  display: inline;
  width: 99.5%;
}
#location-autosuggest{
  text-align: left;
  padding-left: 12px;
}

#comment-container{
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95%;
  text-align: left;
}
#comment-input{
  width: 96%;
}
#submit-wall{
  float: right;
  border: 1px solid black;
}
#auto-loc-list ul li a{
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 1.5em;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}
#auto-loc-list ul li a:hover {
  background-color: #E0E0FF;
}

#wall-text-input {
  width: 50%;
}

.postcontent{
  padding:0px;
  min-height:0px;
}

#wall{
  min-height:350px;
}

.wallitem{
  padding:15px 0px 15px 0px;
  border-top:1px solid #EAEAEA;
  position:relative;
}

#wallitem-input-label{
  position:absolute;
  padding:5px;
  font-size:13px;
  line-height:19px;
  font-color:#333;
}

#wallitem-input-container{
  padding:10px 5px 5px 5px;
  border-top:1px solid #EAEAEA;
  position:relative;
}

.wallitem .avatar{
  float:left;
  margin:0px 10px 0px 0px;
}

.avatar{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px
}

.remove-wallitem {
  background-image: url(/david/images/delete_button.png);
  height: 15px;
  width: 15px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.author, .like-button, .unlike-button, .reply-button, .timeago, .num-likes{
  display:inline;
  margin-right:12px;
}

.timeago{
  color:#737373;
}

.wallitem .reply{
  position:relative;
  padding:5px 40px 5px 48px;
  position:relative;
  border:none;
}

#autocomplete-results div:hover{
  background-color:#E0E0FF;
}

/*Content END*/

/*Buttons*/

#wallitem-post-button{
  float:right;
  cursor: pointer;
  text-align:center;
  text-decoration:none;
	border: solid 1px #333;
	padding:7px 45px 7px 45px;
	background: #0030C2;
	background: -webkit-gradient(linear, left top, left bottom, from(#0030C2), to(#00248F));
	background: -moz-linear-gradient(top,  #0030C2,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0030C2', endColorstr='#00248F');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#wallitem-post-button:hover {
	padding:7px 45px 7px 45px;
	background: #00248F;
	background: -webkit-gradient(linear, left top, left bottom, from(#002AA8), to(#00248F));
	background: -moz-linear-gradient(top,  #002AA8,  #00248F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#002AA8', endColorstr='#00248F');
}
#wallitem-post-button:active {
	padding:8px 45px 6px 45px;
	background-color:#001D75;
}

#wallitem-post-button a{
  color:white;
  font-size:13px;
  font-weight:bold;
}

#rsvp_yes_button{
  width:170px;
  height:40px;
  color:white;
  line-height:40px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#00CC33), to(#009900));
  background:-moz-linear-gradient(top, #00CC33, #009900);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC33', endColorstr='#009900');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_yes_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#00FF00), to(#00CC66));
  background: -moz-linear-gradient(top,  #00FF00,  #00CC66);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FF00', endColorstr='#00CC66');
}

#rsvp_yes_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#rsvp_no_button{
  width:45px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#rsvp_no_button:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#rsvp_no_button:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#delete-trip{
  width:85px;
  color:white;
  height:20px;
  line-height:20px;
  text-align:center;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#888888));
  background:-moz-linear-gradient(top, #E0E0E0 , #888888);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#888888');
  border: 1px solid #686868;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display:inline-block;
}
#delete-trip:hover {
  background: green;
  background: -webkit-gradient(linear, left top, left bottom, from(#A80000), to(#980000));
  background: -moz-linear-gradient(top,  #A80000,  #980000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A80000', endColorstr='#980000');
}

#delete-trip:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}

#follow {
  color:white;
  display:block;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
  background:-webkit-gradient(linear, left top, left bottom, from(#32D02F), to(#239121));
  background:-moz-linear-gradient(top, #32D02F, #239121);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#32D02F', endColorstr='#239121');
  border: 1px solid #555;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width:160px;
}
#follow:hover {
  background: #ffad32;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffad32), to(#ff8132));
  background: -moz-linear-gradient(top,  #ffad32,  #ff8132);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#ff8132');
}
#follow:active {
  background: #ff8132;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8132), to(#ffad32));
  background: -moz-linear-gradient(top,  #ff8132,  #ffad32);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8132', endColorstr='#ffad32');
}
/*Buttons END*/
