#searchbox {
background-color: black;
opacity: 0.75;
padding: 0 1em 1em 1em;
-moz-border-radius: 15px;
border-radius: 15px;
border: 2px solid #999;
}
#searchbox h1 {
color: white;
}
#search {
-moz-border-radius: 5px;
border-radius: 5px;
}
.layer circle {
fill: lightcoral;
fill-opacity: .5;
stroke: brown;
stroke-width: 1.5px;
}


.tooltip{background-repeat:no-repeat;position:absolute;top:0;left:0;display:none;opacity:0;-webkit-transition:opacity .2s ease-in-out;-moz-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out}



.tooltip-inner{border:1px solid #4a4a4a;text-shadow:0 0 0 transparent;background-color:#555;color:#fff;font-size:13px;padding:10px;text-align:left;line-height:20px;position:relative;-webkit-box-shadow:0 0 10px #555;-moz-box-shadow:0 0 10px #555;-o-box-shadow:0 0 10px #555;box-shadow:0 0 10px #555}

.tooltip .carat{width:0;height:0;display:block;position:absolute;border-width:5px 5px 5px 0;border-style:solid;border-color:transparent #4a4a4a transparent transparent}



.compass .back{fill:#000;fill-opacity:.75}.compass .fore{stroke:#c;stroke-width:1.5px}
.compass rect.back.fore{fill:#fff;fill-opacity:.3;stroke:#eee;stroke-width:1px;shape-rendering:crispEdges}
.compass .direction{fill:none}.compass .chevron{fill:none;stroke:#fff;stroke-width:5px}
.compass .zoom .chevron{stroke-width:4px}
.compass .active .chevron,.compass .chevron.active{stroke:#fff}
.compass.active .active .direction{fill:#999}

.map-poi{fill:#555}

.map-poi.selected{fill:#aa2e00}

.tooltip{background-repeat:no-repeat;margin-top:5px;width:281px}

.tooltip-inner{text-shadow:0 0 0 transparent;background-color:#555;border:1px solid #555;color:#fff;font-size:13px;padding:10px;text-align:left;line-height:20px;position:relative}

.tooltip .carat{width:0;height:0;display:block;position:absolute;top:-6px;border-width:0 5px 5px;border-style:solid;border-color:transparent transparent #555 transparent}



.demo-frame{border:1px solid #424242;background-color:#575959;}


.demo-map{position:relative;border:1px solid #424242;}

.demo-map .the-map,.demo-map .map,.demo-map svg{height:100%}

.demo-map .tooltip{position:absolute;z-index:100;visibility:visible}.demo-map .tooltip-inner{border:1px solid #424242}.demo-map .tooltip .carat{border-width:5px 5px 5px 0;border-color:transparent #4a4a4a transparent transparent;left:-5px;top:10px}.demo-map .place-name{font-size:16px;padding-bottom:5px;margin-bottom:5px;border-bottom:1px solid #505050}.demo-map .place-address{font-size:13px;color:#eaeaea}.demo-map .categories{font-size:12px;color:#eaeaea}.demo-map .categories span{color:#c8c8c8}